.tp-table {
	display: table;
	width: 100%;
}


.table-cell {
  display: table-cell;
	vertical-align: middle;
	float:          none;
}

.thim-select-language{
  line-height: 27px;
  .language{
    position: relative;
    >span{
      padding-right: 13px;
      position: relative;
      line-height: 27px;
      display: inline-block;
      &:before{
        content: "\f107";
        font-family: FontAwesome;
        position: absolute;
        top: 2px;
        line-height: 27px;
        right: 0;
      }
    }
    ul{
      list-style: none;
      visibility: hidden;
      position: absolute;
      top: 27px;
      left: -10px;
      background: #fff;
      z-index: 9999;
      min-width: 120px;
      .opacity(0);
      li{
        line-height: 30px;
        padding: 0 15px;
        text-align: left;
        a{
          color: #5a5a5a;
          text-transform: none;
          text-align: left;
          border-bottom: 1px solid #eee;
          line-height: 30px;
          display: block;
        }
      }
    }
    &:hover{
      ul{
        .transition(all 0.3s);
        visibility: visible;
        .opacity(1);
      }
    }
  }
}
