@thim_body_bg_color: #ffffff;
@thim_body_primary_color: #563420;
@thim_font_body_font_family: Poiret One;
@thim_font_body_color: #5a5a5a;
@thim_font_body_font_weight: bold;
@thim_font_body_font_style: normal;
@thim_font_body_text_transform: none;
@thim_font_body_font_size: 17px;
@thim_font_body_line_height: 1.8em;
@thim_font_title_font_family: Josefin Sans;
@thim_font_title_color: #2a2a2a;
@thim_font_title_font_weight: 900;
@thim_font_title_font_style: normal;
@thim_font_title_text_transform: none;
@thim_font_title_font_size: 13px;
@thim_font_title_line_height: 1.5em;
@thim_font_h1_font_family: Crimson Text;
@thim_font_h1_color: #2a2a2a;
@thim_font_h1_font_weight: 600;
@thim_font_h1_font_style: normal;
@thim_font_h1_text_transform: none;
@thim_font_h1_font_size: 30px;
@thim_font_h1_line_height: 1.3em;
@thim_font_h2_font_family: Crimson Text;
@thim_font_h2_color: #2a2a2a;
@thim_font_h2_font_weight: 600;
@thim_font_h2_font_style: normal;
@thim_font_h2_text_transform: none;
@thim_font_h2_font_size: 26px;
@thim_font_h2_line_height: 1.2em;
@thim_font_h3_font_family: Crimson Text;
@thim_font_h3_color: #2a2a2a;
@thim_font_h3_font_weight: 600;
@thim_font_h3_font_style: normal;
@thim_font_h3_text_transform: none;
@thim_font_h3_font_size: 24px;
@thim_font_h3_line_height: 1.2em;
@thim_font_h4_font_family: Crimson Text;
@thim_font_h4_color: #2a2a2a;
@thim_font_h4_font_weight: 600;
@thim_font_h4_font_style: normal;
@thim_font_h4_text_transform: capitalize;
@thim_font_h4_font_size: 20px;
@thim_font_h4_line_height: 1.2em;
@thim_font_h5_font_family: Crimson Text;
@thim_font_h5_color: #2a2a2a;
@thim_font_h5_font_weight: 600;
@thim_font_h5_font_style: normal;
@thim_font_h5_text_transform: none;
@thim_font_h5_font_size: 20px;
@thim_font_h5_line_height: 1.2em;
@thim_font_h6_font_family: Crimson Text;
@thim_font_h6_color: #2a2a2a;
@thim_font_h6_font_weight: 600;
@thim_font_h6_font_style: normal;
@thim_font_h6_text_transform: none;
@thim_font_h6_font_size: 18px;
@thim_font_h6_line_height: 1.2em;
@thim_width_logo: 255;
@thim_sub_menu_border_top_color: #fff;
@thim_font_size_top_header: 13px;
@thim_top_header_text_color: #ffffff;
@thim_top_header_link_color: #ffffff;
@thim_bg_main_menu_color: rgba(12,0,0,0.28);
@thim_main_menu_text_color: #ffffff;
@thim_main_menu_text_hover_color: #ffb606;
@thim_font_size_main_menu: 13px;
@thim_font_weight_main_menu: 700;
@thim_sub_menu_bg_color: rgba(12,0,0,0.28);
@thim_sub_menu_text_color: #666666;
@thim_sub_menu_text_color_hover: #ffb606;
@thim_sub_menu_border_color: #ddd;
@thim_sticky_bg_main_menu_color: #ffffff;
@thim_sticky_main_menu_text_color: #2a2a2a;
@thim_sticky_main_menu_text_hover_color: #2a2a2a;
@thim_bg_mobile_menu_color: rgba(34,34,34,0.59);
@thim_mobile_menu_text_color: #ffffff;
@thim_mobile_menu_text_hover_color: #ffb606;
@thim_footer_text_font_color: #ffffff;
@thim_footer_bg_color: #111111;
@thim_copyright_text_color: #5a5a5a;
