/** hb-button **/
.hb_button{
  text-decoration: none;
  padding: 10px 25px;
  line-height: 20px;
  border: 0;
  .rounded(3px);
  background: #ffb606;
  color: #fff;
  min-height: 40px;
  display: inline-block;
  &:hover{
    background: #2a2a2a;
    color: #fff;
  }
  &:focus{
    outline: none;
  }
}
.hb_add_to_cart{
  &.hb_loading{
    .opacity(0.5);
  }
}
/** Hotel booking carousel slider **/
.hb_room_carousel_container{
  margin-bottom: 89px;
  .hb_room_carousel{
    margin: 0 -15px;
  }
  .navigation{
    width: 215px;
    margin: 0 auto;
    .prev, .next{
      span[class*="pe-"]{
        display: none;
      }
      line-height: 24px;
      height: 24px;
      width: 24px;
      background: url(../images/prev.png) no-repeat center left;
      display: inline-block;
      float: left;
      cursor: pointer;
      z-index: 20;
    }
    .next{
      float: right;
      background: url(../images/next.png) no-repeat center right;
    }
  }
  .text_link{
    line-height: 24px;
    text-align: center;
    margin: 28px auto 34px;
    z-index: 10;
    a{
      color: #2a2a2a;
      line-height: 24px;
      display: block;
    }
  }
  .hb_room{
    width: 300px;
    min-height: 290px;
    position: relative;
    padding: 0 15px;
    margin: 0;
  }
}


/** Archive rooms **/
.rooms{
  margin: 0 -15px;
  list-style: none;
  clear: both;
  overflow: hidden;
  .post-type-archive-hb_room &{
    &.hb-catalog-column-5{
      >.hb_room{
        width: 20%;
      }
    }
    &.hb-catalog-column-4{
      >.hb_room{
        width: 25%;
      }
    }
    &.hb-catalog-column-3{
      >.hb_room{
        width: 33.33%;
      }
    }
    &.hb-catalog-column-2{
      >.hb_room{
        width: 50%;
      }
    }
  }
  
  .hb_room{
    list-style: none;
    float: left;
    position: relative;
    padding: 0 15px;
    margin-bottom: 50px;
    .media{
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
      a{
          &:before{
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-bottom: 137px solid #ffb606;
          border-left: 137px solid transparent;
          bottom: 0;
          right: 0;
          .opacity(0.7);
          .transition(all 0.3s);
        }
      }
    }
    .summary{
      cursor: default;
      .price{
        .transition(all 0.3s);
      }
      &:hover{
        .media{
          a:before{
            border-bottom-width: 167px;
            border-left-width: 167px;
          }
        }
        .price{
          .translate(-15px, -15px);
        }
      }
    }
    .title{
      h4{
        line-height: 30px;
        margin: 16px 0 0;
        a{
          color: #2a2a2a;
          white-space: nowrap;
          max-width: 100%;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .price{
      position: absolute;
      right: 25px;
      bottom: 50px;
      text-align: right;
      font-weight: 700;
      font-size: 24px;
      color: #fff;
      line-height: 27px;
      span{
        display: block;
        font-weight: 700;
        font-size: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding-bottom: 4px;
        &.unit{
          font-size: 13px;
          margin-top: 0;
          border-bottom: 0;
          padding: 0;
        }
        &.title-price{
          display: none;
        }
      }
    }
    
    .rating{
      position: absolute;
      bottom: 7px;
      right: 15px;
    }
    
    &:nth-child(4n+4){
      .media{
      }
    }
  }
}

/** Rooms pagination **/
.rooms-pagination{
  .page-numbers{
    list-style: none;
    margin: 15px 0 5px;
    text-align: center;
    li{
      display: inline-block;
      line-height: 30px;
      padding: 0 13px;
      span{
        font-size: 13px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        overflow: hidden;
        color: #5a5a5a;
        .rounded(3px);
        text-transform: uppercase;
        &.current{
          background: #ffb606;  
          color: #2a2a2a;
        }
      }
      a{
        font-size: 13px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        color: #5a5a5a;
        overflow: hidden;
        .rounded(3px);
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
          background: #ffb606;  
          color: #2a2a2a;
        }
        &.next,&.prev{
          width: auto;
          background: transparent;
          &:hover{
            background: transparent;
            color: #ffb606;
          }
        }
      }
    }
  }
}


/** Single rooms **/
.hb_single_room{
  .title{
    h4{
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
      margin: 0 0 29px;
      a{
        color: #2a2a2a;
      }
    }
  }
  .price{
    float: right;
    margin-top: -65px;
    line-height: 30px;
    font-weight: 600;
    font-size: 30px;
    color: #ffb606;
    span{
      &.title-price{
        margin-right: 5px;
        color: #2a2a2a;
        font-size: 15px;
        font-weight: 400;
      } 
      &.unit{
        font-size: 14px;
        font-weight: 600;
        &:before{
          content: '/';
          padding:0 5px;
        }
      }
    }
  }
  
  .hb_room_gallery{
    margin-bottom: 200px !important;
    .camera_thumbs{
      .camera_nextThumbs,
      .camera_prevThumbs{
        visibility: visible;
        top: 10px;
        bottom: 0;
        .opacity(0);
        .transition(all 0.3s);
      }
      .camera_prevThumbs{
        left: 2px;
        .translate(10px, 0);
      }
      .camera_nextThumbs{
        right: 2px;
        .translate(-10px, 0);
      }
      &:hover{
        .camera_nextThumbs,
        .camera_prevThumbs{
          .opacity(1);
          .translate(0, 0);
        }
      }
      .camera_thumbs_cont{
        background: transparent;
        width: auto;
        margin: 0 -6px;
        ul{
          padding: 0;
          overflow: hidden;
          max-height: 130px;
          white-space: nowrap;
          li{
            display: inline-block;
            float: none;
            padding: 0;
            margin-top: 10px;
            padding: 0 6px;
            overflow: hidden;
            width: 20%;
            max-width: 176px;
            position: relative;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              right: 6px;
              left: 6px;
              border: 2px solid transparent;
              z-index: -1;
              .transition(all 0.3s);
            }
            img{
              margin: 0;
              width: 100%;
              border: 0;
            }
            &.cameracurrent{
              &:before{
                border-color: #ffb606;
                z-index: 2;
              }
            }
            
          }
        }
      }
    }
  }
  
  .hb-share{
    clear: both;
    float: right;
    margin-bottom: -50px;
    ul{
      list-style: none;
      li{
        display: inline-block;
        padding-left: 19px;
        &:first-child{
          padding-left: 0;
        }
        a{
          font-size: 16px;
          &.facebook{
            color: #4c67a2;
          }
          &.twitter{
            color: #00acee;
          }
          &.googleplus{
            color: #da7c74;
          }
          &.pinterest{
            color: #d43b17;
          }
        }
      }
    }
  }
  
  .hb_single_room_details{
    clear: both;
    .hb_single_room_tabs{
      clear: both;
      margin: 0;
      list-style: none;
      border-bottom: 1px solid #ddd;
      >li{
        padding-right: 40px;
        border: 0;
        display: inline-block;
        line-height: 30px;
        a{
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          color: #5a5a5a;
          position: relative;
          display: block;
          line-height: 30px;
          padding-bottom: 9px;
          &:after{
            content: '';
            bottom: -2px;
            height: 4px;
            background: transparent;
            left: 0;
            right: 0;
            width: 100%;
            position: absolute;
          }
          &.active{
            color: #2a2a2a;
            &:after{
              background: #ffb606;
            }
          }
        }
      } 
    }
    
    .hb_single_room_tabs_content{
      padding: 40px 0;
    }
  }
  
  #reviews{
    clear: both;
    #review_form_wrapper{
      margin-top: 30px;
      form{
        input{
          min-height: 40px;
          border: 1px solid #ddd;
          text-shadow: none;
          box-shadow: none;
        }
        p{
          margin-bottom: 20px;
          label{
            margin-bottom: 10px;
            display: block;
          }
          textarea{
            height: 100px;
            padding: 10px;
            overflow-y: auto;
            width: 100%;
            border: 1px solid #ddd;
          }
        }
        .form-submit{
          input[type="submit"]{
            padding: 10px 25px;
            line-height: 20px;
            border: 0;
            .rounded(3px);
            background: #ffb606;
            color: #2a2a2a;
            &:hover{
              background: #2a2a2a;
              color: #fff;
            }
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
  }
  
  table{
    &.hb_room_pricing_plans{
      tr{
        th{
          font-weight: 700;
          color: #2a2a2a;
          text-align: center;
        }
        td{
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
}


/** Other room slider **/
.hb_related_other_room{
  margin: 0 -15px;
  .tp-hotel-booking{
    margin: 0;
  }
  >.title{
    position: relative;
    line-height: 40px;
    padding-bottom: 11px;
    margin: 20px 15px 40px;
    &:after{
      content: '';
      width: 30px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #ffb606;
    }
  }
  .rooms{
    li{
      &.hb_room{
        padding: 0 15px;
        min-width: 300px;
        width: 300px;
        max-width: 400px;
        margin: 0;
      }
    }
  }
  .navigation{
    width: auto;
    float: right;
    margin-top: -80px;
    margin-right: 15px;
    .prev, .next{
      span[class*="pe-"]{
        display: none;
      }
      line-height: 24px;
      height: 24px;
      width: 24px;
      background: url(../images/prev.png) no-repeat center left;
      display: inline-block;
      float: left;
      cursor: pointer;
      z-index: 20;
    }
    .next{
      margin-left: 20px;
      float: right;
      background: url(../images/next.png) no-repeat center right;
    }
  }
}

/** Hotel booking result **/
#hotel-booking-results{
  >h3{
    font-size: 40px;
    color: #2a2a2a;
    margin: 0px 0 15px;
    line-height: 40px;
  }
  form{
    .hb_button.hb_checkout,
    button.hb_add_to_cart,
    button[type="submit"]{
      text-decoration: none;
      padding: 10px 25px;
      line-height: 20px;
      border: 0;
      .rounded(3px);
      background: #ffb606;
      color: #2a2a2a;
      &:hover{
        background: #2a2a2a;
        color: #fff;
      }
      &:focus{
        outline: none;
      }
    }
  }
  
  .hb-search-results{
    >.hb-room{
      margin: 0px 0 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #eee;
      .hb-room-name{
        color: #2a2a2a;
        font-size: 30px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 23px;
        line-height: 30px;
        a{
          line-height: 30px;
          display: inline-block;
          color: #2a2a2a;
          text-decoration: none;
          &:hover{
            color: #ffb606;
          }
        }
        label{
          display: inline-block;
          line-height: 30px;
          margin: 0;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
        }
      }
      .hb-room-thumbnail{
        max-width: 100%;
        width: 270px;
        float: left;
        img{
          max-width: 270px;
        }
      }
      .hb-room-info{
        margin-left: 300px;
      }
      .hb-room-meta{
        li{
          margin-bottom: 30px;
          display: block;
          &:last-child{
            margin-bottom: 0;
          }
          .hb_search_item_price{
            margin-left: 20px;
            margin-right: 15px;
          }
          select{
            padding: 3px 25px 3px 5px;
          }
          >label{
            width: auto;
            font-weight: 400;
            color: #2a2a2a;
            margin-bottom: 0;
          }
          >div{
            width: auto;
            margin-left: 20px;
            &.hb_view_price{
              margin-left: 0;
            }
          }
          &.hb_search_price{
            position: relative;
          }
          &.hb_search_capacity,
          &.hb_search_max_child{
            display: inline-block;
            >div{
              font-weight: 700;
            }
          }
          &.hb_search_capacity{
            padding-right: 20px;
            margin-right: 20px;
            border-right: 1px solid #eee;
          }
          &.hb_search_price{
            font-weight: 700;
          }
          .hb-view-booking-room-details{
            color: #9a9a9a;
            font-weight: 400;
            font-style: italic;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  .rooms-pagination{
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}


/** hotel-booking-payment **/
#hotel-booking-cart,
#hotel-booking-payment{
  h3{
    margin: 0px 0 15px;
    font-size: 40px;
    line-height: 40px;
    color: #2a2a2a;
  }
  input[type="number"],
  input[type="text"],
  input[type="email"]{
    line-height: 20px;
    padding: 9px 20px 9px 10px;
    border: 1px solid #ddd;
    box-shadow: none;
    text-shadow: none;
  }
  input[name="hb-coupon-code"]{
    margin: 10px 0;
  }
  button#hb-apply-coupon{
    margin: 10px 0 10px 5px;
  }
  input[type="number"]{
    max-width: 80px;
    text-align: center;
  }
  .hb_button.hb_checkout,
  button[type="submit"],
  button[type="button"]{
    text-decoration: none;
    padding: 10px 25px;
    line-height: 20px;
    border: 0;
    .rounded(3px);
    background: #ffb606;
    color: #2a2a2a;
    &:hover{
      background: #2a2a2a;
      color: #fff;
    }
    &:focus{
      outline: none;
    }
    &.update{
      margin-left: 5px;
    }
  }
  select{
    line-height: 22px;
    padding: 8px 20px 8px 5px;
    border: 1px solid #ddd;
  }
  table{
    &.hb_table{
      margin-bottom: 30px;
    }
    th{
      color: #2a2a2a;
      padding: 10px 17px;
      text-align: center;
    }
    tr{
      &.hb_checkout_item{
        td{
          text-align: center;
        }
      }
    }
  }
  .hb-addition-information{
    textarea{
      width: 100%;
      height: 100px;
      border: 1px solid #ddd;
      padding: 10px;
    }
  }
  .hb-payment-methods{
    >li{
      margin-bottom: 10px;
      .hb-payment-method-form{
        padding-left: 25px;
      }
    }
  }
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  
  //style for class of tr
  .hb_sub_total,
  .hb_advance_grand_total{
    .hb-align-right{
      color: #2a2a2a;
      font-weight: 700;
    }
  }
  
  .hb_advance_payment,
  .hb_advance_grand_total,
  .hb_advance_tax,
  .hb_sub_total{
    .hb-align-right{
      float: right;
      width: 118px;
      margin: -10px 0;
      padding: 10px 0;
      border-left: 1px solid #eee;
      text-align: right;
    }
  }
  
  td{
    padding: 10px 17px;
    &.hb_gross_total{
      width: 135px;
      min-width: 135px;
    }
  }
  .hb_remove_cart_item{
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    display: table-cell;
    .fa{
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
    }
  }
}

/** Input type date style **/
.ui-datepicker.ui-widget{
  z-index: 9999;
  display: none;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
  border-radius: 0;
  padding: 8px;
  .ui-datepicker-header{
    background: transparent;
    border: 0;
    .ui-datepicker-prev,
    .ui-datepicker-next{
      span{
        display: none;
      }
      background: transparent;
      background-repeat: no-repeat;
      background-size: 75% 75%;
      background-position: center center;
      border: 0;
      cursor: pointer;
      width: 20px;
      height: 30px;
      .opacity(0.5);
      .transition(all 0.3s);
      &:hover{
        .opacity(1);
      }
    }
    .ui-datepicker-prev{
      float: left;
      left: 0;
      right: auto;
      top: 4px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
    }
    .ui-datepicker-next{
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
      float: right;
      right: 0;
      top: 4px;
      left: auto;
    }
    .ui-datepicker-title{
      color: #2a2a2a;
      padding: 5px 3px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  
  .ui-datepicker-calendar{
    border: 0;
    margin-bottom: 24px;
    th{
      color: #999;
      font-size: 12px;
      line-height: 25px;
      font-weight: 700;
      text-align: center;
      span{
        cursor: help;
        border-bottom: 1px dotted #777;
      }
    }
    td{
      padding: 0;
      border: 0;
      height: 27px;
      overflow: hidden;
      &.ui-state-disabled{
        padding: 0;
        border: 0;
        .ui-state-default{
          &:hover{
            background: #f5f5f5;
            color: #666;
          }
        }
      }
    }
    .ui-state-default{
      cursor: pointer;
      display: block;
      outline: 0;
      border: 0;
      margin: 0;
      width: 100%;
      padding: 5px;
      color: #666;
      font-size: 12px;
      line-height: 17px;
      text-align: right;
      background: #f5f5f5;
      &:hover{
        color: #fff;
        background: #ffb606;
      }
    }
  }
}

/** Room detail when click view price breakdown **/
.hb-booking-room-details{
  border: 1px solid #eee;
  padding: 18px 30px 0;
  background: #f9f9f9;
  position: absolute;
  margin-top: 10px;
  visibility: hidden;
  left: 0;
  min-width: 430px;
  z-index: 0;
  .opacity(0);
  .transition(all 0.3s);
  &.active{
    .opacity(1);
    visibility: visible;
    z-index: 999;
  }
  .hb_search_room_item_detail_price_close{
    background: #2a2a2a;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    top: -25px;
    right: 0;
    cursor: pointer;
    &:hover{
      background: #ffb606;
    }
  }
  table{
    border: 0;
    tr{
      td{
        padding: 0;
        &:first-child{
          color: #2a2a2a;
        }
        &.hb_search_item_total_description{
          font-style: italic;
          color: #9a9a9a;
          padding-right: 100px;
          padding-left: 20px;
        }
        &.hb_search_item_price{
          color: #ffb606;
          font-weight: 700;
        }
      }
    }
    tbody{
      tr{
        td{
          border: 0;
          padding-bottom: 20px;
        }
        &:last-child{
          td{
            padding-bottom: 25px;  
          }
        }
      }
    }
    tfoot{
      tr{
        td{
          padding-top: 25px;
          border: 0;
          border-top: 1px solid #eee;
          &.hb_search_item_total_bold{
            font-weight: 700;
          }
        }
      }
    }
  }
}

/** Mini Cart **/
.hotel_booking_mini_cart{
  .hb_mini_cart_item{
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    .hb_title{
      font-size: 18px;
      font-weight: 600;
      color: #2a2a2a;
      line-height: 30px;
      margin: 0;
      margin-top: 23px;
    }
    .hb_mini_cart_remove{
      position: absolute;
      top: 2px;
      right: 0;
      color: #333;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      background: transparent;
      .transition(all 0.3s);
      cursor: pointer;
      &:hover{
        background: #ffb606;
        color: #fff;
      }
    }
    .hb_mini_cart_number,
    .hb_mini_cart_price{
      color: #2a2a2a;
      line-height: 30px;
      label{
        font-weight: 400;
        font-size: 15px;
        margin-right: 12px;
        margin-bottom: 0;
      }
      span{
        font-weight: 700;
        font-size: 15px;
        color: #2a2a2a;
      }
    }
    .hb_mini_cart_price{
      span{
        color: #ffb606;  
      }
    }
  } 
  .hb_mini_cart_footer{
    text-align: center;
    margin-top: 30px;
    .hb_button{
      color: #fff;
      margin: 0 2px;
    }
  }
  .hb_mini_cart_empty{
    text-align: center;
    margin: 10px 0 0;
    color: #2a2a2a;
  }
}

@media (max-width: 1024px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 106px;
            li{
              width: 142px;
            }
          }
        }
      }
    }
    
  }
} 
@media (max-width: 960px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 96px;
            li{
              width: 131px;
            }
          }
        }
      }
    }
    
  }
} 
@media (max-width: 768px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 111px;
            li{
              width: 150px;
            }
          }
        }
      }
    }
  }
} 
@media (max-width: 736px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 107px;
            li{
              width: 143px;
            }
          }
        }
      }
    }
  }
} 
@media (max-width: 667px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 120px;
            li{
              width: 162px;
            }
          }
        }
      }
    }
  }
} 
@media (max-width: 568px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 100px;
            li{
              width: 137.5px;
            }
          }
        }
      }
    }
  }
} 
@media (max-width: 480px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 114px;
            li{
              width: 154px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 127px;
            li{
              width: 172px;
            }
          }
        }
      }
    }
  }
} 
@media (max-width: 320px)  {
  .hb_single_room{
    .hb_room_gallery{
      .camera_thumbs{
        .camera_nextThumbs,
        .camera_prevThumbs{
        }
        .camera_thumbs_cont{
          ul{
            max-height: 113px;
            li{
              width: 152px;
            }
          }
        }
      }
    }
  }
}  
