@media (min-width: 1200px) {
    //Layout Boxed
    .content-pusher {
        &.boxed-area {
            max-width: 1200px;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 0 0 32px rgba(0, 0, 0, 0.23);
            .container {
                padding-left: 55px;
                padding-right: 55px;
                &.home-page,
                &.site-content {
                    background: #fff;
                }
            }
            .thim-top-rev-slider {
                position: relative;
                .tp-rightarrow {
                    right: 0;
                    left: auto !important;
                }
                .tp-rightarrow {

                }
            }

            .text-center {
                .desc-icon-box {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            //.hb_room_carousel_container {
            //    .item {
            //        min-width: 280px;
            //        min-height: 296px;
            //    }
            //}
            //.hb_related_other_room {
            //    .rooms {
            //        li.hb_room {
            //            min-width: 280px;
            //            min-height: 296px;
            //            max-width: 280px;
            //        }
            //    }
            //}

            .newletter .mc4wp-form input[type="email"] {
                width: 240px;
            }

            #sidebar {
                .thim-widget-mini-cart-room {
                    .hb_mini_cart_footer {
                        .hb_button {
                            margin: 0;
                            padding: 10px 12px;
                        }
                    }
                }
            }
        }
    }

    .container {
        width: 1200px;
    }

    .siteorigin-panels-stretch {
        margin-left: -385px;
        margin-right: -385px;
        padding-left: 385px;
        padding-right: 385px;
        &.thim-fix-stretched {
            padding-left: 0;
            padding-right: 0;
            &.thim-bg-image-cover {
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }
        }
    }
}

@media (max-width: 1200px) {
    .thim-widget-event .item-event .event-thumbnail {
        display: none;
    }
}

@media (max-width: 1024px) {
    body {
        .hb_room_carousel_container {
            .item {
                min-height: 258px;
                min-width: 242px;
            }
        }
    }

    .text-center .desc-icon-box {
        padding-left: 0;
        padding-right: 0;
    }

    .thim-list-posts.sidebar {
        .article-image {
            margin-bottom: 10px;
        }
        .article-title-wrapper {
            clear: both;
        }
    }

    #sidebar {
        .hotel-booking-search {
            padding-left: 30px;
            padding-right: 30px;
        }
        .hotel_booking_mini_cart {
            .hb_mini_cart_footer {
                .hb_button {
                    min-width: 100px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        table {
            td {
                padding: 10px 7px;
            }
        }
        .hb_advance_payment,
        .hb_advance_grand_total,
        .hb_advance_tax,
        .hb_sub_total {
            .hb-align-right {
                width: 128px;
            }
        }
    }

    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-width: 243px;
    //        min-height: 259px;
    //        max-width: 243px;
    //    }
    //}
}

@media (min-width: 768px) and (max-width: 992px) {
    //Override width of container
    .container {
        width: 900px;
        max-width: 100%;
    }

    body {
        .hb_room_carousel_container {
            .item {
                min-height: 308px;
                min-width: 300px;
            }
        }
    }

    .list-html-content {
        margin-bottom: 50px;
        .item-content {
            padding-left: 0;
        }
        .col-sm-6:nth-child(2n) {
            padding-right: 0;
            padding-left: 45px;
        }
    }

    .filter-restaurant {
        .erm_product {
            width: 100%;
        }
    }

    body .hb_related_other_room {
        .rooms li.hb_room {
            //min-width: 336px;
            //min-height: 352px;
            //max-width: 336px;
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        table {
            td {
                padding: 10px 3px;
            }
        }
        .hb_advance_payment,
        .hb_advance_grand_total,
        .hb_advance_tax,
        .hb_sub_total {
            .hb-align-right {
                width: 124px;
            }
        }
        .hb_capacity {
            display: none;
        }
    }
}

@media (min-width: 781px) and (max-width: 900px) {
    .thim-search-room {
        .hotel-booking-search {
            form {
                padding: 30px 5px;
                .hb-form-table {
                    .hb-form-field {
                        padding: 0 5px;
                    }
                }
                .hb-submit {
                    padding: 0 5px;
                }
            }

        }
    }

    body {
        .navbar-nav {
            > li {
                > a,
                > span.disable_link,
                > span:not(.icon-toggle) {
                    padding-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .wpcf7-form {
        margin-left: 0;
    }

    .rooms {
        margin: 0;
        &[class*="hb-catalog-column-"] {
            > .hb_room {
                .post-type-archive-hb_room & {
                    width: 50%;
                }
            }
        }
    }

    .counter-box {
        margin: 0 auto;
    }

    #main,
    #sidebar {
        width: 100%;
        float: left;
        clear: both;
    }

    .blog,
    .archive,
    .single {
        .site-main {
            &.alignleft {
                padding-right: 15px;
                padding-bottom: 60px;
            }
            &.alignright {
                padding-left: 15px;
                padding-bottom: 60px;
            }
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        padding-bottom: 60px;
        table {
            td {
                padding: 10px 10px;
            }
        }
        .hb_advance_payment,
        .hb_advance_grand_total,
        .hb_advance_tax,
        .hb_sub_total {
            .hb-align-right {
                width: 125px;
            }
        }
        .hb_capacity {
            display: table-cell;
        }
    }

    #sidebar {
        .thim-widget-mini-cart-room {
            .hb_mini_cart_footer {
                .hb_button {
                    padding: 10px 25px;
                    margin: 0 2px;
                }
            }
        }
    }

    .thim-search-room {
        .hotel-booking-search {
            form {
                .hb-form-table {
                    width: 100%;
                    float: none;
                    .hb-form-field {
                        width: 100%;
                        max-width: none;
                        float: none;
                        margin-bottom: 20px;
                    }
                }
                .hb-submit {
                    width: 100%;
                    float: none;
                    button {
                        max-width: none;
                        width: 100%;
                    }
                }
            }
        }
    }

    .site-main {
        .hotel-booking-search {
            padding-bottom: 60px;
            .hb-form-field,
            form button {
                max-width: 100%;
            }
            .hb-form-field-input {
                display: block;
            }
        }
    }

    .thim-list-posts {
        &.sidebar {
            .article-title-wrapper {
                clear: right;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 780px) {
    .navbar-nav > li > a,
    .navbar-nav > li > span.disable_link {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navigation .navbar-nav > li.current-menu-item > a:after,
    .navigation .navbar-nav > li:hover > a:after,
    .navigation .navbar-nav > li.current-menu-item > span:after,
    .navigation .navbar-nav > li:hover > span:after {
        left: 15px;
        right: 15px;
    }

    .thim-our-service {
        padding-left: 0;
        margin-top: 60px;
    }

    body {
        .hb_room_carousel_container {
            .hb_room {
                min-height: 272px;
                min-width: 256px;
            }
        }
    }

    .thim-search-room {
        .hotel-booking-search {
            form {
                padding-left: 0;
                padding-right: 0;
                .hb-submit {
                    padding: 0 8px;
                }
            }
        }
    }

    .site-main.alignleft {
        float: left;
    }

    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-height: 272px;
    //        min-width: 256px;
    //        max-width: 256px;
    //    }
    //}

}

@media (min-width: 768px) {
    .thim-border-grid {
        .panel-grid-cell:first-child {
            .panel-widget-style {
                position: relative;
                overflow: hidden;
                padding-right: 30px;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 1px;
                    background: @border-color;
                }
            }
        }
    }

    .top_site_main {
        .banner-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            top: 50%;
            .translate(0, -50%);
            display: inline-block;
        }
    }
}

@media (max-width: 767px) {
    .width-navigation {
        overflow: auto;
        overflow-x: hidden;
    }

    .top-header .thim-social ul.social_link {
        margin-left: -10px;
        margin-right: 0;
    }

    .top_site_main {
        img {
            position: absolute;
            height: 100%;
            left: 0;
            right: 0;
        }
        .page-title-wrapper {
            position: static;
            padding: 15px 0;
            .banner-description p {
                margin-bottom: 0;
            }
        }
        &.images_parallax {

        }
    }

    // widget list html content
    .list-html-content {
        text-align: left;
        position: relative;
        padding-bottom: 0;
        margin-bottom: 50px;
        .line-center {
            display: none;
        }
        .item-content {
            padding: 10px 0;
        }
    }

    .erm_menu_content.menu_content_two_column {
        li.erm_product {
            width: 100%;
        }
    }

    .otw-wrapper {
        .col-sm-3 {
            margin-bottom: 25px;
        }
        .otw-button-wrap {
            margin-bottom: 0;
        }
    }

    .border-widget {
        .panel-grid-cell {
            width: 50% !important;
            float: left !important;
            margin-bottom: 30px;
            &:nth-child(1) {
                padding-right: 15px !important;
            }
            &:nth-child(2) {
                padding-left: 15px !important;
            }
            &:last-child {
                margin-top: 25px !important;
                width: 100% !important;
            }
        }
    }

    .border-widget .widget.so-panel {
        min-height: inherit;
    }

    .wrapper-gallery-filter .fancybox {
        display: inline-block;
        margin-bottom: 10px;
    }

    .top-header {
        padding-top: 10px;
        aside {
            display: block;
            margin-left: 15px;
            padding: 5px 0 2px;
            border-bottom: 0 !important;
        }
    }

    .footer {
        aside {
            footer#colophon & {
                margin-bottom: 25px;
                padding-left: 0;
                padding-right: 0;
                margin-left: 15px;
                margin-right: 15px;
            }
            padding-bottom: 10px;
            &:first-child {
                padding-bottom: 5px;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
        .newletter {
            display: block;
            text-align: left;
        }
    }

    .thim-list-posts.sidebar {
        .article-title-wrapper {
            clear: initial;
        }
    }

    .list-html-content {
        .col-sm-6 {
            clear: both;
        }
        .item-content {
            .desc-list {
                float: none;
                max-width: none;
            }
        }
    }

    .thim-widget-gallery {
        .wrapper-gallery-filter {
            .col-sm-4 {
                width: 50%;
            }
        }
    }

    //body .hb_room_carousel_container .hb_room {
    //    min-height: 261px;
    //    min-width: 245px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-height: 261px;
    //        min-width: 245px;
    //        max-width: 245px;
    //    }
    //}

    .widget_shopping_cart {
        .widget_shopping_cart_content {
            min-width: 200px;
            width: 200px;
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        .hb_check_in,
        .hb_check_out {
            display: none;
        }
    }

    .hb-booking-room-details {
        left: auto;
        right: 10px;
    }
}

//Iphone 6 landscape
@media (max-width: 667px) {
    //body .hb_room_carousel_container .hb_room {
    //    min-height: 349px;
    //    min-width: 333px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-height: 349px;
    //        min-width: 333px;
    //        max-width: 333px;
    //    }
    //}

    .thim-sailing-hotel {
        .width50 {
            width: 100%;
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        table {
            td {
                // padding: 10px 5px;
            }
        }
    }
}

@media (max-width: 640px) {
    //body .hb_room_carousel_container .hb_room {
    //    min-height: 336px;
    //    min-width: 320px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-height: 336px;
    //        min-width: 320px;
    //        max-width: 320px;
    //    }
    //}
}

@media ( max-width: 600px ) {
    .top_site_main {
        height: auto;
    }

    .thim-widget-event .item-event {
        display: block;
        .event-thumbnail, .content-item, .content-right {
            display: block;
            width: 100%;
            overflow: hidden;
        }
    }

    .thim-widget-tab-restaurant-menu .nav-menu-tabs li a span.box > span {
        display: none;
    }

    .woocommerce-page, .woocommerce {
        div.product div.images, div.product div.summary {
            width: 100% !important;
        }
    }

    .erm_menu_content.layout-default .erm_product.with_image {
        a.image-popup {
            width: 60px;
        }

        .item-left, .erm_product_price {
            width: 100%;
            display: block;
            padding-left: 15px;
        }
        .erm_product_price {
            margin-top: 0;
            padding: 0 15px 15px;
            li {
                display: inline-block;
                margin-right: 7px;
            }
        }
    }

    //body .hb_room_carousel_container .hb_room {
    //    min-height: 316px;
    //    min-width: 300px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-height: 316px;
    //        min-width: 300px;
    //        max-width: 300px;
    //    }
    //}

}

@media (max-width: 480px) {
    .top_site_main {
        .page-title-wrapper {
            padding: 45px 0 15px;
        }
    }

    .newletter .mc4wp-form input[type="email"] {
        width: 220px;
    }

    .product-grid {
        .col-sm-6 {
            width: 100%;
        }
        .product_thumb {
            display: block;
            text-align: center;
        }
    }

    .border-widget {
        .panel-grid-cell {
            width: 100% !important;
            float: none !important;
            margin-bottom: 30px !important;
            &:nth-child(1) {
                padding-right: 0 !important;
            }
            &:nth-child(2) {
                padding-left: 0 !important;
            }
        }
    }

    //body .hb_room_carousel_container .hb_room {
    //    min-height: 256px;
    //    min-width: 240px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-width: 240px;
    //        max-width: 240px;
    //        min-height: 256px;
    //    }
    //}

    .woocommerce-cart {
        table.cart {
            .product-thumbnail {
                display: none;
            }
        }
    }

    .woocommerce,
    .woocommerce-page {
        .cart-collaterals {
            .cart_totals {
                width: 100%;
                float: none;
            }
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        table {
            td {

            }
        }
        .hb_capacity {
            display: none;
        }
    }

    #hotel-booking-results {
        .hb-search-results {
            > .hb-room {
                .hb-room-thumbnail {
                    margin-bottom: 30px;
                }
                .hb-room-info {
                    clear: both;
                    margin-left: 0;
                }
            }
        }
    }

    .hb_single_room {
        .price {
            margin: 10px 0 20px;
            float: none;
            clear: both;
        }
        table.hb_room_pricing_plans {
            max-width: 92vw;
            overflow: hidden;
            tr {
                td {
                    padding: 10px 0;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .woocommerce-cart {
        table.cart {
            .product-price {
                display: none;
            }
            td.actions {
                input {
                    margin-top: 10px;
                }
            }
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        table {
            td {
                &.hb_gross_total {
                    min-width: 100px;
                    width: 100px;
                }
            }
        }
        .hb_night {
            display: none;
        }
        .hb_advance_payment,
        .hb_advance_grand_total,
        .hb_advance_tax,
        .hb_sub_total {
            .hb-align-right {
                width: 90px;
            }
        }
    }

    .hb-booking-room-details {
        min-width: inherit;
        max-width: 100%;
        width: 92vw;
    }

    .rooms {
        margin: 0;
        &[class*="hb-catalog-column-"] {
            > .hb_room {
                .post-type-archive-hb_room & {
                    width: 100%;
                }
            }
        }
    }

    //body .hb_room_carousel_container .hb_room {
    //    min-height: 376px;
    //    min-width: 360px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-width: 360px;
    //        max-width: 360px;
    //        min-height: 376px;
    //    }
    //}

    .width-logo > a{
        max-width: 250px;
    }
}

@media (max-width: 320px) {
    .width-navigation {
        overflow: auto;
        left: -260px;
        width: 260px;
    }

    .mobile-menu-open .content-pusher {
        .translate(260px, 0);
        left: 0;
    }

    //body .hb_room_carousel_container .hb_room {
    //    min-height: 336px;
    //    min-width: 320px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        max-width: 320px;
    //        min-height: 336px;
    //        min-width: 320px;
    //    }
    //}

    .woocommerce-cart {
        table.cart {
            .product-remove {
                display: none;
            }
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        table {
            td {
                &.hb_gross_total {
                    min-width: 80px;
                    width: 80px;
                }
            }
        }
        .hb_advance_payment,
        .hb_advance_grand_total,
        .hb_advance_tax,
        .hb_sub_total {
            .hb-align-right {
                width: 70px;
            }
        }
        button#hb-apply-coupon {
            margin-left: 0;
        }
        .hb_button.hb_checkout,
        .hb_button.update {
            margin-bottom: 10px;
        }
    }

    #sidebar {
        .hotel_booking_mini_cart {
            .hb_mini_cart_footer {
                .hb_button {
                    min-width: 120px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .width-logo > a{
        max-width: 200px;
    }
}

@media (max-width: 240px) {
    .width-navigation {
        left: -200px;
        width: 200px;
    }

    .mobile-menu-open .content-pusher {
        .translate(200px, 0);
        left: 0;
    }

    //body .hb_room_carousel_container .hb_room {
    //    min-height: 256px;
    //    min-width: 240px;
    //}
    //
    //body .hb_related_other_room {
    //    .rooms li.hb_room {
    //        min-height: 256px;
    //        min-width: 240px;
    //        max-width: 240px;
    //    }
    //}

    .woocommerce-cart {
        table.cart {
            .product-quantity {
                display: none;
            }
        }
    }

    #hotel-booking-cart,
    #hotel-booking-payment {
        table {
            .hb_quantity {
                display: none;
            }
        }
        .hb_button.hb_checkout,
        .hb_button.update {
            margin-left: 0;
        }
    }

    .thim-list-posts {
        &.sidebar {
            .article-title-wrapper {
                clear: both;
            }
        }
    }
}