/* Forum */
@import "variables.less";
@import "config.less";

body {
	background-color: @thim_body_bg_color;
	font-family:      @thim_font_body_font_family;
	font-size:        @thim_font_body_font_size;
	font-weight:      @thim_font_body_font_weight;
	line-height:      @thim_font_body_line_height;
	color:            @thim_font_body_color;
	overflow-x:       hidden;
}

h1 {
	color:          @thim_font_h1_color;
	font-size:      @thim_font_h1_font_size;
	font-weight:    @thim_font_h1_font_weight;
	font-style:     @thim_font_h1_font_style;
	text-transform: @thim_font_h1_text_transform;
	line-height:    @thim_font_h1_line_height;
}

h2 {
	color:          @thim_font_h2_color;
	font-size:      @thim_font_h2_font_size;
	font-weight:    @thim_font_h2_font_weight;
	font-style:     @thim_font_h2_font_style;
	text-transform: @thim_font_h2_text_transform;
	line-height:    @thim_font_h2_line_height;
}

h3 {
	color:          @thim_font_h3_color;
	font-size:      @thim_font_h3_font_size;
	font-weight:    @thim_font_h3_font_weight;
	font-style:     @thim_font_h3_font_style;
	text-transform: @thim_font_h3_text_transform;
	line-height:    @thim_font_h3_line_height;
}

h4 {
	color:          @thim_font_h4_color;
	font-size:      @thim_font_h4_font_size;
	font-weight:    @thim_font_h4_font_weight;
	font-style:     @thim_font_h4_font_style;
	text-transform: @thim_font_h4_text_transform;
	line-height:    @thim_font_h4_line_height;
}

h5 {
	color:          @thim_font_h5_color;
	font-size:      @thim_font_h5_font_size;
	font-weight:    @thim_font_h5_font_weight;
	font-style:     @thim_font_h5_font_style;
	text-transform: @thim_font_h5_text_transform;
	line-height:    @thim_font_h5_line_height;
}

h6 {
	color:          @thim_font_h6_color;
	font-size:      @thim_font_h6_font_size;
	font-weight:    @thim_font_h6_font_weight;
	font-style:     @thim_font_h6_font_style;
	text-transform: @thim_font_h6_text_transform;
	line-height:    @thim_font_h6_line_height;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: @thim_font_title_font_family;
}

a {
	color: @thim_body_primary_color;
}

/********header-drawer************/
#rt-drawer {
	&.style2 {
		.drawer_link {
			border-color: transparent @thim_body_primary_color transparent transparent;
		}
	}
}

/************main menu***************/
.site-header {
	background: @thim_bg_main_menu_color;
}
@media (min-width: 768px) {
  .bg-custom-sticky.affix {
  	background: @thim_sticky_bg_main_menu_color;
  	box-shadow: 0 1px 5px -2px rgba(red(@thim_sticky_main_menu_text_color), green(@thim_sticky_main_menu_text_color), blue(@thim_sticky_main_menu_text_color), 0.4);
  	.top-header{
  	  color: rgba(red(@thim_sticky_main_menu_text_color), green(@thim_sticky_main_menu_text_color), blue(@thim_sticky_main_menu_text_color), 0.7);
  	  a{
  	    color: rgba(red(@thim_sticky_main_menu_text_color), green(@thim_sticky_main_menu_text_color), blue(@thim_sticky_main_menu_text_color), 0.7);
  	  }
  	  b{
  	    color: @thim_sticky_main_menu_text_color;
  	  }
  	  aside{
  	    border-bottom: 1px solid rgba(red(@thim_sticky_main_menu_text_color), green(@thim_sticky_main_menu_text_color), blue(@thim_sticky_main_menu_text_color), 0.15);
  	  }
  	}
  }
}
.top-header {
	//color:     @thim_main_menu_text_color;
	font-size: @thim_font_size_top_header;
	color: rgba(red(@thim_main_menu_text_color), green(@thim_main_menu_text_color), blue(@thim_main_menu_text_color), 0.7);
	b{
    color: @thim_main_menu_text_color;
  }
	a {
	  color: rgba(red(@thim_main_menu_text_color), green(@thim_main_menu_text_color), blue(@thim_main_menu_text_color), 0.7);
	  &:hover{
	     color: @thim_body_primary_color;  
	  }
	}
	aside {
		border-bottom: 1px solid rgba(red(@thim_main_menu_text_color), green(@thim_main_menu_text_color), blue(@thim_main_menu_text_color), 0.15);
	}
}

@media (min-width: 768px) {
	.bg-custom-sticky.affix {
		.navbar-nav {
			> li {
				&.current-menu-item, .current-menu-ancestor {
					> a, > span.disable_link {
						color: @thim_sticky_main_menu_text_hover_color;
						span {
							border-color: @thim_sticky_main_menu_text_hover_color;
						}
					}
				}
				.nav-active {
					color: @thim_sticky_main_menu_text_hover_color;
				}
				> a, > span {
					color: @thim_sticky_main_menu_text_color;
					&:hover {
						color: @thim_sticky_main_menu_text_hover_color;
						span {
							border-color: @thim_sticky_main_menu_text_hover_color;
						}
					}
				}
				&.menu-item-has-children {
					> a, > span.disable_link {
						&:after {
							color: @thim_sticky_main_menu_text_color;
						}
					}
				}
			}

		}
		.menu-right {
			li {
				a, span, div {
					color: @thim_sticky_main_menu_text_color;
					&:hover {
						color: @thim_sticky_main_menu_text_hover_color;
					}
				}
			}
		}
	}

	.header_v1 {
		.width-navigation {
			.menu-right {
				border-color: rgba(red(@thim_main_menu_text_color), green(@thim_main_menu_text_color), blue(@thim_main_menu_text_color), 0.4);
			}
		}
	}

	.navigation {
		.navbar-nav li.standard {
			.sub-menu {
				background: @thim_sub_menu_bg_color;
				li {
					&:after {
						background: @thim_sub_menu_border_color;
					}
					&.current_page_item{
					  >a,>span{
					    color: @thim_sub_menu_text_color_hover;
					  }
					}
				}
			}
		}
	}

	.navbar-nav {
		li.multicolumn {
			.megacol {
				background: @thim_sub_menu_bg_color;
				> li {
					> a, > span {
						border-bottom: 1px solid @thim_sub_menu_border_color;
						font-size:     @thim_font_h6_font_size;
						color:         @thim_font_h6_color;

					}
				}
			}
		}

	}

	.nav > li > .sub-menu, .nav > li.multicolumn > .sub-menu, .nav > li.widget_area > .sub-menu {
		border-top: 2px solid @thim_sub_menu_border_top_color;
	}

	.nav > li .sub-menu, .nav > li.multicolumn > .sub-menu, .nav > li.widget_area > .sub-menu {
		a, span {
			color: @thim_sub_menu_text_color;
		}
		a {
			&:hover {
				color: @thim_sub_menu_text_color_hover;
			}
		}
	}

	.menu-right {
		li {
			a, span, div {
				color:       @thim_main_menu_text_color;
				font-size:   @thim_font_size_main_menu;
				font-weight: @thim_font_weight_main_menu;
				&:hover {
					color: @thim_main_menu_text_hover_color;
				}
			}
		}
	}

	.navigation {
		.navbar-nav {
			> li {
				> a, > span {
					color:       @thim_main_menu_text_color;
					font-size:   @thim_font_size_main_menu;
					font-weight: @thim_font_weight_main_menu;
				}
				&.menu-item-has-children {
					> a, > span {
						&:after {
							color: @thim_main_menu_text_color;
						}
					}
				}
				&.current-menu-item, &:hover {
					> a, > span {
						//color: @thim_main_menu_text_hover_color;
						&:after{
						  background: @thim_main_menu_text_color;
						  .bg-custom-sticky.affix &{
						    background: @thim_sticky_main_menu_text_color;
						  }
						}
					}
				}
				.nav-active {
					color: @thim_main_menu_text_hover_color;
				}
				.sub-menu {
					a, span {
						font-size:   @thim_font_size_main_menu;
						font-weight: @thim_font_weight_main_menu;
					}
				}
			}
			
			#magic-line{
        background: @thim_main_menu_text_color;
        .bg-custom-sticky.affix &{
          background: @thim_sticky_main_menu_text_color;
        }
      }
		}
	}

	.width-logo {
		width: unit(@thim_width_logo, px);
		>a{
		  width: unit(@thim_width_logo, px);
		  overflow: hidden;
		  display: block;
		}
	}

	.width-navigation {
		width: -moz-calc(~"100% - " unit(@thim_width_logo, px));
		width: webkit-calc(~"100% - " unit(@thim_width_logo, px));
		width: calc(~"100% - " unit(@thim_width_logo, px));
	}

	.width-navigation-left, .width-navigation-right {
		width: -moz-calc(~"50% - "unit(@thim_width_logo / 2,px));
		width: webkit-calc(~"50% - " unit(@thim_width_logo / 2, px));
		width: calc(~"50% - "unit(@thim_width_logo / 2,px));
	}

	.width-navigation-left li {
		color: @thim_main_menu_text_color;
		a, p, div {
			color: @thim_main_menu_text_color
		}
	}

	.header_v2 {
		.navbar-toggle {
			.icon-bar {
				background-color: @thim_main_menu_text_color;
			}
			> div {
				color: @thim_main_menu_text_color;
			}
			&:hover {
				> div {
					color: @thim_main_menu_text_hover_color;
				}
				.icon-bar {
					background-color: @thim_main_menu_text_hover_color;
				}
			}
		}
		.menu-main-menu {
			background: @thim_sub_menu_bg_color;
		}
		.width-navigation-left {
			font-size:   @thim_font_size_main_menu;
			font-weight: @thim_font_weight_main_menu;
		}
		.width-navigation-right {
			.menu-right {
				&:after {
					background: rgba(red(@thim_main_menu_text_color), green(@thim_main_menu_text_color), blue(@thim_main_menu_text_color), 0.7);
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.width-logo {
		>a{
			width: unit(@thim_width_logo, px);
			display: inline-block;
			overflow: hidden;
		}
	}
	.width-navigation {
		background: @thim_bg_mobile_menu_color;
	}

	.width-navigation ul li a, .width-navigation ul li span {
		color: @thim_mobile_menu_text_color;
	}

	.width-navigation ul li.current-menu-item {
		> a, > span {
			// color: @thim_mobile_menu_text_hover_color;
		}
	}
  .top-header{
    color: @thim_mobile_menu_text_color;
  }
	.menu-mobile-effect {
		span {
			background-color: @thim_mobile_menu_text_color;
		}
	}

	.navbar-nav .sub-menu {
		&:before {
			background: @thim_mobile_menu_text_color;
		}
		li {
			&:before {
				background: @thim_mobile_menu_text_color;
			}
		}
	}

	.list-html-content {
		.item-content {
			.title-list h5 {
				color: @thim_font_title_color;
			}
		}
	}
  
  .footer{
    aside{
      border-bottom: 1px solid @border-color;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
}

/*******offcanvas-sidebar*********/
.slider-sidebar {
	background: @thim_bg_offcanvas_sidebar_color;
	color:      @thim_offcanvas_sidebar_text_color;
	a {
		color: @thim_offcanvas_sidebar_text_color;
		&:hover {
			color: @thim_offcanvas_sidebar_link_color;
		}
	}
	.widget-title {
		color: @thim_offcanvas_sidebar_text_color;
	}
	ul li {
		border-color: rgba(red(@thim_offcanvas_sidebar_text_color), green(@thim_offcanvas_sidebar_text_color), blue(@thim_offcanvas_sidebar_text_color), 0.6);;
	}
}

/*******archive*********/
.archive-content {
	.share-post {
		.date-meta {
			background: @thim_body_primary_color;
		}
		.social-share {
			li {
				a {
					&:hover {
						color: @thim_body_primary_color;
					}
				}
			}
		}
	}
	.content-inner {
		.blog_title {
			a {
				color: @thim_font_title_color;
				&:hover {
					color: @thim_body_primary_color;
				}
			}
		}
		.entry-meta {
			li {
				a {
					color: @thim_font_title_color;
					&:hover {
						color: @thim_body_primary_color;
					}
				}

			}
		}

	}
}

/* Paging Numberic*/
.loop-pagination, .pagination {
	li {
		.page-numbers {
			&:hover {
				background: @thim_body_primary_color;
				color:      @white;
				border-color: @thim_body_primary_color;
			}
			&.next, &.prev {
				&:hover, &.current {
					border-color: @thim_body_primary_color;
					background: @thim_body_primary_color;
					color:      @white;
				}
			}
		}

		.page-numbers.current {
			background: @thim_body_primary_color;
			border-color: @thim_body_primary_color;
			color:      @white;
		}
	}
}

/* Comment post|page */
.comments-area {
	.comment-list-inner {
		.comments-title {
			color:       @thim_font_title_color;
		}
		li {
			.comment-extra-info {
				a {
					&:hover {
						color: @thim_body_primary_color;
					}
				}
			}
		}
	}
	.comment-respond {
		.form-submit {
			input#submit {
				background: @thim_font_title_color;
				&:hover {
					background: @thim_body_primary_color;
				}
			}
		}
	}
	.comment-respond-area {
		#respond.comment-respond {
			.comment-reply-title {
				color:       @thim_font_title_color;
			}
		}
	}
}

/********event**********/
.thim-widget-event {
	.item-event {
		.content-item {
			h3 {
				font-size:   @thim_font_h6_font_size;
				line-height: @thim_font_h6_line_height;
				a {
					color: @thim_font_h6_color;
					&:hover {
						color: @thim_body_primary_color;;
					}
				}
			}
			.view-detail {
				&:hover {
					color: @thim_font_title_color;
				}
			}
			strong {
				color: @thim_font_title_color;
			}
		}
		.content-right {
			background: @thim_body_primary_color;
		}
	}
}

.counter-block {
	color: @thim_font_title_color;
}

/************footer***************/
.scrollup {
	background: rgba(red(@thim_body_primary_color), green(@thim_body_primary_color), blue(@thim_body_primary_color), 0.8);
	&:hover {
		background: @thim_body_primary_color;
		color:      @white;
	}
}

footer#colophon {
	background-color: @thim_footer_bg_color;
	color: rgba(red(@thim_footer_text_font_color), green(@thim_footer_text_font_color), blue(@thim_footer_text_font_color), 0.7);
	.widget-title{
	  color: @thim_footer_text_font_color;
	}
	a {
		color: @thim_footer_text_font_color;
		&:hover {
			color: @thim_body_primary_color;
		}
		.fa{
		  color: rgba(red(@thim_footer_text_font_color), green(@thim_footer_text_font_color), blue(@thim_footer_text_font_color), 0.7);
		  &:hover{
		    color: @thim_body_primary_color;
		  }
		}
	}
	.row aside {
		color: rgba(red(@thim_footer_text_font_color), green(@thim_footer_text_font_color), blue(@thim_footer_text_font_color), 0.7);
	}
	.text-copyright {
		color: @thim_copyright_text_color;
		a {
			color: @thim_body_primary_color;
			&:hover {
				text-decoration: underline;
			}
		}
		&.border-copyright {
		  border-top: 1px solid @border-color;
			border-top: 1px solid rgba(red(@thim_footer_text_font_color), green(@thim_footer_text_font_color), blue(@thim_footer_text_font_color), 0.07);
		}
	}
}

/*******widget heading*******/
//.sc-heading {
//	.heading__secondary {
//		font-size:   @thim_font_h3_font_size;
//		color:       @thim_body_primary_color;
//		line-height: @thim_font_h3_line_height;
//	}
//}

//.heading__primary {
//	.line-heading {
//		background: @thim_body_primary_color;
//		&:before {
//			color: @thim_body_primary_color;
//		}
//	}
//}
.wrapper-line-heading{
	.line-heading {
		&:before,&:after,span:before,span:after {
			border-color: @thim_body_primary_color;
		}
	}
}
.otw-wrapper {
	.otreservations-submit {
		background:   @thim_body_primary_color;
		border-color: @thim_body_primary_color;
		color:        @thim_font_h1_color;
		&:hover {
			background:   @thim_font_h1_color;
			border-color: @thim_font_h1_color;
			color:        @white;
		}
	}
}

input[type="radio"] {
	&:checked:before {
		background-color: @thim_body_primary_color;
	}
}

input[type="checkbox"] {
	&:checked:before {
		color: @thim_body_primary_color;
	}
}

.filter-controls {
	div, .filter {
		color: @thim_font_body_color;
		&.active, &:hover {
			color: @thim_font_title_color;
			border-color: @thim_body_primary_color;
		}
	}
}

/********sidebar*******/
.widget-area {
	aside {
		color: @thim_font_body_color;
		a {
			color: @thim_font_body_color;
			&:hover {
				color: @thim_body_primary_color;
			}
		}
		.widget-title {
			font-size:   @thim_font_body_font_size;
			line-height: @thim_font_body_line_height;
			span {
				background: @thim_body_bg_color;
			}
		}
	}
}

/* search */
.search-form {
	&:after {
		color: @thim_font_h1_color;
	}
}

.widget_categories, .widget_pages {
	ul li {
		
	}
}

.icon-box-title {
	span {
		color: @thim_body_primary_color;
	}
}

/***********file templates**************/

.owl-carousel {
	.owl-pagination {
		.owl-page {
			&.active, &:hover {
				span {
					background: @thim_body_primary_color;
				}
			}
		}
	}
	.testimonial-footer{
    .title-regency{
      h6, h6 a{
        color: @thim_body_primary_color;  
      }
    }
  }
	.owl-buttons {
		.owl-prev, .owl-next {
			&:hover {
				span {
					color: @thim_body_primary_color;
					&:after {
						background: @thim_body_primary_color
					}
				}

			}
		}
	}
}

/********tweets************/
.border-widget {
	.widget.so-panel {
		.widget-title {
			font-size: @thim_font_body_font_size;
		}
	}
}

// widget list post
.thim-list-posts.homepage {
   .article-date{
     background: @thim_body_primary_color;
   }
   .link_read_more{
     a{
       color: @thim_body_primary_color;
     }
   }
}

/* Gallery - Category & Single Post */
.flexslider {
	.flex-direction-nav {
		.flex-prev,
		.flex-next{
			&:before {
				color: @thim_font_title_color;
			}
			&:hover{
			  background: @thim_body_primary_color;
			}
		}
	}
}

/**share networks**/
.thim-social {
	a {
		&:hover {
			color: @thim_body_primary_color;
		}
	}
}

/********form-book-table********/
.wpcf7-form {
	.wpcf7-submit {
		background:   @thim_body_primary_color;
		border-color: @thim_body_primary_color;
		color:        @white;
		&:hover {
			background:   @thim_font_h1_color;
			border-color: @thim_font_h1_color;
		}
	}
}


/**********************/

.top_site_main {
	.page-title-wrapper {
		.banner-wrapper {
			h1, h2 {
				font-size: @thim_font_h1_font_size;
			}
			.heading__secondary {
				font-family: @thim_font_title_font_family;
			}
		}
	}
}

// widget list html content
.list-html-content {
	.item-content {
		.title-list h5 {
			color: @thim_font_title_color;
		}
	}
}

/**************main-bottom*************/
.main-bottom {
	background: @thim_body_primary_color;
}

.tp-button {
	&.primary {
		background:  @thim_body_primary_color;
		color:       @white !important;
		font-family: @thim_font_body_font_family;
		&:hover {
			background: @thim_font_h1_color;
		}
	}
}

.widget_recent_entries {
	ul li {
		a {
			color: @thim_font_h1_color;
			&:hover {
				color: @thim_body_primary_color;
			}
		}
	}
}

/*************woo**************/
.quickview {
	.product-info .right .product_meta {
		a {
			color: @thim_font_title_color;
			&:hover {
				color: @thim_body_primary_color;
			}
		}
	}
}

.product-cat {
	li {
		a {
			color: @thim_font_body_color;
			&:hover, &.active {
				color:        @thim_font_title_color; 
				border-color: @thim_body_primary_color;
			}
		}
	}
}

.product-grid {
	.product__title {
		a {
			color:   @thim_font_title_color;
			opacity: 0.9;
			&:hover {
				color: @thim_body_primary_color;
			}
			&.added_to_cart{
			  color: @white !important;
			}
		}
		a.button.add_to_cart_button, .added_to_cart {
			background: @thim_body_primary_color !important;
			&:before {
				color: @white !important;
			}
			&:hover {
				background: @thim_body_primary_color !important;
				color: @white !important;
			}
		}
	}
}

/***********quick view***********/
.quickview {
	.product-info {
		.right {
			.product_title {
				font-size: @thim_font_h3_font_size;
			}
			.cart {
				a {
					color: @thim_font_body_color;
					&:hover {
						color: @thim_body_primary_color;
					}
				}
				button.button {
					background: @thim_body_primary_color;
					color:      @white;
					&:hover {
						background: @thim_font_title_color;
						color:      @white;
					}
				}
			}
		}
	}
	.quick-view-detail {
		color: @thim_font_body_color;
		&:hover {
			color: @thim_body_primary_color;;
		}
	}
}

.product_thumb {
	.onsale {
		background: @thim_body_primary_color !important;
	}
}

/************single product****************/
.product-cat {
	li {
		a {
			color: @thim_font_body_color;
		}
	}
}

.woocommerce, .woocommerce-page {
	div.product {
		.onsale {
			background: @thim_body_primary_color !important;
		}
		.product_title {
			font-size: @thim_font_h3_font_size;
		}
		.woocommerce-review-link {
			color: @thim_font_body_color;
			&:hover {
				color: @thim_body_primary_color;
			}
		}
		.product_meta {
			a {
				color: @thim_font_body_color;
				&:hover {
					color: @thim_body_primary_color;
				}
			}
		}
		form.cart {
			margin-bottom: 15px;
			.button {
				background: @thim_body_primary_color;
				color:      @thim_font_title_color;
				&:hover {
					color:      @white;
					background: @thim_font_title_color;
				}
			}
		}
		.woocommerce-tabs {
			.tabs {
				li {
					a {
						
					}
				}
				.active {
					a {
						border-bottom: 4px solid @thim_body_primary_color;
						color:         @thim_font_title_color !important;
					}
				}
			}
			.entry-content {
				#reviews {
					#comments {
						.commentlist {
							li {
								.comment-text {
									.meta {
										strong {
											color: @thim_body_primary_color;
										}
									}
								}
							}
						}
					}
					#review_form_wrapper {
						.comment-form {
							.form-submit {
								.submit {
									color:            @white !important;
									background-color: @thim_body_primary_color;
									&:hover {
										color:      @white !important;
										background: @thim_font_title_color !important;
									}
								}
							}
						}
					}
				}
			}
		}

		.related-products, .upsells-products {
			> h2 {
				color:     @thim_font_title_color;
				&:after{
				  background: @thim_body_primary_color;
				}
			}
		}
	}
	
	.star-rating{
    span::before{
      color: @thim_body_primary_color;
    }
    color: @thim_body_primary_color;
    &:before{
      color: @thim_body_primary_color;
    }
  }
  .comment-form-rating{
    a{
      color: @thim_body_primary_color;
      &:hover{
        color: @thim_body_primary_color;
      }
    }
  }
  
  .woocommerce-shipping-calculator{
    a{
      color: @thim_body_primary_color;
    }
  }
  div.woocommerce-message,
  div.woocommerce-info{
    border-top-color: @thim_body_primary_color;
    &:before{
      color: @thim_body_primary_color;
    }
  }
  
  .form-row label.checkbox a,
  .woocommerce-info .showcoupon{
    color: @thim_body_primary_color;
  }
}

.smicon-read {
	color:        @thim_body_primary_color;
	border-color: @thim_body_primary_color;
}

.woocommerce-page {
	.button {
		color:      @white !important;
		background: @thim_font_h1_color !important;
		&:hover {
			color:            @white !important;
			background-color: @thim_body_primary_color !important;
		}
	}
	.product-name a {
		color: @thim_font_h1_color;
		&:hover {
			color: @thim_body_primary_color
		}
	}
	.cart_totals {
		h2 {
			font-size:      @thim_font_h4_font_size;
			text-transform: uppercase;
			font-weight:    normal;
		}
	}
}

// mini cart
.widget_shopping_cart {
	.minicart_hover {
		.cart-items-number {
			span.wrapper-items-number {
				background: @thim_body_primary_color;
			}
		}
	}
	.widget_shopping_cart_content {
		color: @thim_font_h1_color;
		.cart_list.product_list_widget {
			li {
				a {
					color: @thim_font_h1_color;
					&:hover {
						color: @thim_body_primary_color;
					}
				}
				dl {
					color: @thim_font_h1_color;
				}
				span {
					color: @thim_font_h1_color;
				}
				.quantity {
					color: @thim_font_h1_color;
				}
			}
			.empty {
				color: @thim_font_h1_color !important;
			}
		}
		.total {
			color: @thim_font_h1_color !important;
			span {
				color: @thim_font_h1_color !important;
			}
		}
		.buttons {
			a {
				color:  @thim_font_title_color;
				border: 2px solid @thim_font_title_color;
				&:hover {
					background:   @thim_body_primary_color;
					border-color: @thim_body_primary_color;
				}
			}
			.checkout {
				background:   @thim_body_primary_color !important;
				border-color: @thim_body_primary_color;
				&:hover {
					background:   @thim_font_h1_color !important;
					border-color: @thim_font_h1_color;
					color:        #fff !important;
				}
			}
		}
	}
}

.tp-bullets.preview4 {
	.bullet.selected, .bullet.selected:hover {
		background: @thim_body_primary_color !important;
		width:      10px !important;
		height:     10px !important;
		border:     none !important;
	}
}

.custom-gallery {
	.filter-controls a {
		&:hover, &.active {
			border-color: @thim_body_primary_color;
		}
	}
}

.list-check li {
	&:before {
		color: @thim_body_primary_color;
	}
}

.widget-title {
	&:after {
		background: @thim_body_primary_color;
	}
}

.article-title-wrapper{
	h5 a{
		color: @thim_font_h5_color;
		&:hover{
			color: @thim_body_primary_color;
		}
	}
}

.sale-off{
  p{
    color: @white;
    &.learn-more{
      a{
        background: @thim_body_primary_color;
        color: @white;
        &:hover{
          background: @thim_font_title_color;
        }
      }
    }
    &.heading{
      font-family: @thim_font_title_font_family;
    }
  }
  &.banner-round{
    p{
      color: @thim_font_title_color;
    }
  }
}

//Widget testimonial
.testimonial_content{
  border:  1px solid @border-color;
}
.testimonial-footer{
  .avatar-testimonial{
    background: @white;
  }
}

//Savings box 
.thim-savings-home-4 {
  .sale-off{
    p{
      color: @white;  
    }
  }
}

//Thime service
.wrapper-box-icon.has_custom_image{
  .sc-heading{
    .heading__primary{
      color: @thim_font_title_color;
      a{
        color: @thim_font_title_color;
        &:hover{
          color: @thim_body_primary_color;
        }
      }
    }
  }
}
.thim-widget-icon-box{
  .smicon-read{
    color: @thim_body_primary_color;
    border-color: @thim_body_primary_color;
    &:hover{
      color: @white;
      background: @thim_body_primary_color;
    }
  }
}


// HB Room Carousel
.hb_room_carousel_container{
  .title{
    a{
      color: @thim_font_title_color;
      &:hover{
        color: @thim_body_primary_color;
      }
    }
  }
  .price{
    color: @white;
  }
  .item{
    .media{
      a:before{
        border-bottom-color: @thim_body_primary_color;
      }
    }
  }
  .span{
    font-family: @thim_font_title_font_family;
  }
}

.hotel-booking-search {
  form{
    button{
      background: @thim_body_primary_color;
      border-color: @thim_body_primary_color;
    }
  }
}
//Page about us - Counter box
.counter-box{
  color: @white;
  &:before{
    background: @thim_body_primary_color;
  }
}

//Comming soon
.subscribe{
  .mc4wp-form{
    input[type="submit"]{
      background: @thim_body_primary_color;
    }
  }
}

//New letter box
.newletter{
  .mc4wp-form{
    input[type="submit"]{
      background: @thim_body_primary_color;
    }
  }
}
//Define color for class thim-color
.thim-color{
  color: @thim_body_primary_color;
}

//Define background-color for class thim-bg-color
.thim-bg-color{
  background-color: @thim_body_primary_color;
}
//Define color thim-title
.thim-color-title{
  color: @thim_font_title_color;
}

//Define background-color black
.thim-bg-black{
  background-color: #000;
}

//Sidebar room single
#sidebar{
  .hotel-booking-search{
    form{
      button{
        background-color: @thim_font_title_color;
      }
    }
  }
  .wrapper-line-heading{
    .heading__primary{
      color: @thim_font_title_color;
    }
    .line-heading{
      &:before,
      &:after,
      span:before,
      span:after{
        border-color: @thim_font_title_color;
      }
    }
  }
  .thim-widget-search-room{
    .wrapper-line-heading{
      .heading__primary{
        color: @white;
      }
      .line-heading{
        &:before,
        &:after,
        span:before,
        span:after{
          border-color: @white;
        }
      }
    }
  }
}

//HB Rooms
body{
  .hb_button{
    background: @thim_body_primary_color;
    &:hover{
      background: @thim_font_title_color;
    }
  }
  .rooms{
    .hb_room{
      .media{
        a:before{
          border-bottom-color: @thim_body_primary_color;
        }
      }
      .title{
        h4{
          a{
            color: @thim_font_title_color;
            &:hover{
              color: @thim_body_primary_color;
            }
          }
        }
      }
    }
  }
  .hb_single_room{
    .title{
      h4{
        a{
          color: @thim_font_title_color;
        }
      }
    }
    .hb_room_gallery{
      .camera_thumbs{
        .camera_thumbs_cont{
          ul{
            li.cameracurrent{
              &:before{
                border-color: @thim_body_primary_color;
              }
            }
          }
        }
      }
    }
    .hb_single_room_details{
      .hb_single_room_tabs{
        > li{
          a{
            &.active{
              color: @thim_font_title_color;
              &:after{
                background: @thim_body_primary_color;
              }
            }
          }
        }
      }
    }
    .price{
      color: @thim_body_primary_color;
      span{
        &.title-price{
          color: @thim_font_title_color;
        }
      }
    }
    
    #reviews{
      h2{
        color: @thim_font_title_color;
      }
      .reply-title{
        color: @thim_font_title_color;
      }
      #review_form_wrapper{
        form{
          .form-submit{
            input[type="submit"]{
              background: @thim_body_primary_color;
              color: @white;
              &:hover{
                background: @thim_font_title_color;
              }
            }
          }
        }
      }
    }
  }
  .hb_related_other_room{
    > .title{
      color: @thim_font_title_color;
      &:after{
        background: @thim_body_primary_color;
      }
    }
    .navigation{
      .prev,
      .next{
        span[class*="pe-"]:hover{
          &:before{
            color: @thim_body_primary_color;
          }
          &:after{
            background: @thim_body_primary_color;
          }
        }
      }
    }
  }
  .rooms-pagination{
    .page-numbers{
      li{
        span{
          &.current{
            border-color: @thim_body_primary_color;
            background: @thim_body_primary_color;
            color: @white;
          }
        }
        a{
          &:hover{
            background: @thim_body_primary_color;
            color: @white;
            border-color: @thim_body_primary_color;
          }
          &.prev,
          &.next{
            
            &:hover{
              background: @thim_body_primary_color;
              color: @white;
              border-color: @thim_body_primary_color;
            }
          }
        }
      }
    }
  }
  
  .hb_room_carousel_container{
    .item{
      .title{
         h4{
           a{
             color: @thim_font_title_color;
             &:hover{
               color: @thim_body_primary_color;
             }
           }
         }
      }
    }
    .text_link{
      a{
        &:hover{
          color: @thim_body_primary_color;
        }
      }
    }
    .navigation{
      .prev,
      .next{
        span[class*="pe-"]:hover{
          &:before{
            color: @thim_body_primary_color;
          }
          &:after{
            background: @thim_body_primary_color;
          }
        }
      }
    }
  }
  
  #hotel-booking-results{
    .hb-search-results{
      a{
        color: @thim_body_primary_color;
        &:hover{
          color: @thim_body_primary_color;  
        }
      }
      > .hb-room{
        .hb-room-name{
          a{
            &:hover{
              color: @thim_body_primary_color; 
            }
          }
        }
        .hb_search_item_price{
          color: @thim_body_primary_color;
        }
      }
    }
    form{
      .hb_button.hb_checkout,
      button.hb_add_to_cart,
      button[type="submit"]{
        background: @thim_body_primary_color;
        color: @white;
        &:hover{
          background: @thim_font_title_color;
        }
      }
    }
  }
  
  #hotel-booking-payment,
  #hotel-booking-cart{
    .hb_remove_cart_item{
      color: @thim_font_title_color;
      &:hover{
        background: @thim_body_primary_color;
        color: @white;
      }
    }
    a{
      color: @thim_body_primary_color;
      &:hover{
        color: @thim_body_primary_color;  
      }
    }
    .hb_button.hb_checkout,
    button[type="submit"],
    button[type="button"]{
      background: @thim_body_primary_color;
      color: @white;
      &:hover{
        background: @thim_font_title_color;
      }
    }
  }
  .rating-input:before, 
  .rating-input span:before{
    color: @thim_body_primary_color;
  }
  &.tp-hotel-booking{
    .star-rating:before,
    .star-rating span:before{
      color: @thim_body_primary_color;
    }
    #reviews{
      .commentlist{
        li{
          &.comment{
            border-color: @border-color;
          }
        }
      }
    }
  }
  
  .tp-hotel-booking{
    .star-rating:before,
    .star-rating span:before{
      color: @thim_body_primary_color;
    }
  }
  
  .hotel_booking_mini_cart{
    .hb_mini_cart_item{
      .hb_mini_cart_remove{
        &:hover{
          background: @thim_body_primary_color;
        }
      }
      .hb_mini_cart_price{
        span{
          color: @thim_body_primary_color;
        }
      }
    }
  }  
  
  .hb-booking-room-details{
    .hb_search_room_item_detail_price_close:hover{
      background: @thim_body_primary_color;
    }
  }
}

.bg-video-play{
  &:hover{
    background: @thim_body_primary_color;
  }
}

//Top slider
.thim-heading-slider{
  font-family: @thim_font_title_font_family !important;
}

//Thim select language
.thim-select-language{
  .language{
    ul{
      li{
        a{
          color: @thim_font_body_color;
          &:hover{
            color: @thim_body_primary_color;
          }
        }
      }
    }
  }
}

body .ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default:hover{
  background-color: @thim_body_primary_color;
}

.contact-support{
  .contact-text{
    color: @thim_font_title_color;
  }
}

body{
  #preload{
    background-color: @thim_body_primary_color;
  }
  .mfp-image-holder .mfp-close, .mfp-inline-holder .mfp-close{
    &:hover{
      color: @thim_body_primary_color;
    }
  }
}

/** tp holtel extra **/
.hb_addition_package_extra{
  a.hb_package_toggle{
    &:hover{
      color: @thim_body_primary_color !important;
    }
  }
}
.hb_extra_detail_price strong{
  color: @thim_body_primary_color !important;
}
