.thim-search-room{
	.hotel-booking-search{
		padding: 0;
		form{
			  background-color: #fff;
		    display: block;
		    padding: 30px 45px;
		    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.15);
		    overflow: hidden;
		    max-width: 1170px;
		    margin: 0 auto;
		    &:before{
		    	position: absolute;
		    	content: "";
		    	top: -17px;
			    left: -17px;
			    border-left: transparent;
			    border-top: transparent;
			    border-bottom: #eaeaea;
			    border-style: solid;
			    border-width: 17px;
			    border-right: transparent;
			    border-bottom-width: 45px;
			    box-shadow: 0 -1px 0 -1px #cfcfcf;
		    }
		    &:after{
		    	position: absolute;
		    	content: "";
		    	top: -17px;
			    right: -17px;
			    border-right: transparent;
			    border-top: transparent;
			    border-bottom: #eaeaea;
			    border-style: solid;
			    border-width: 17px;
			    border-left: transparent;
			    border-bottom-width: 45px;
			    box-shadow: 0 -1px 0 -1px #cfcfcf;
		    }
		    .hb-form-table{
		      width: 80%;
		      float: left;
		      .hb-form-field{
            width: 25%;
            padding: 0 10px;
            margin: 0;
            float: left;
            .hb_input_field{
              display: block;
            }
            input, button,select{
              width: 100%;
              min-width: auto;
            }
          }
		    }
		    .hb-submit{
		      width: 20%;
		      float: left;
		      padding: 0 10px;
		      button{
		        width: 100%;
		        min-width: auto;
		      }
		    }
		}
		input{
			&::-webkit-input-placeholder{
				color: #7a7a7a;
			}
			&:-moz-placeholder{
				color: #7a7a7a;
			}
			&::-moz-placeholder{
				color: #7a7a7a;
			}
			&:-ms-input-placeholder{
				color: #7a7a7a;
			}
			&:before{
				content: "\f073";
				display: block;
				position: aboslute;
				top: 10px;
				right: 10px;
			}
		}
		input,button,select{
		  line-height: 20px;
      padding: 9px 8px;
		}
		.hb-form-field{
			position: relative;
			.hb_input_field{
				&:after{
					position: absolute;
			    content: '\f073';
			    color: #aaa;
			    font-size: 15px;
			    font: normal normal normal 14px/1 FontAwesome;
			    right: 12px;
			    top: 12px;
			    
				}
				.hb_input_date_check{
          padding-right: 20px;
        }
			}
		}
	}
	
	&.thim-search-no-padding{
	  form{
	    background: transparent;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      margin-left: -10px;
      margin-right: -10px;
      max-width: 1190px;
      &:after, &:before{
        display: none;
      }
      .thim-bg-black-overlay &{
        input, button,select{
          border-color: transparent;
        }
      }
	  }
	}
}
