/*
Theme Name: sailing
Theme URI: http://demo.thimpress/thim
Author: ThimPress
Author URI: http://thimpress.com
Description: Sailing Hotel
Version: 1.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: sailing
Domain Path: /languages/
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.list-unstyled {
	padding-right: 0;
	padding-left: 0;
}

.list-inline {
	padding-right: 0;
	margin-right: -5px;
	padding-left: 0;
	margin-left: auto;
}

.list-inline > li {
	padding-right: 5px;
	padding-left: 5px;
}

dd {
	margin-right: 0;
	margin-left: auto;
}


.list-inline > li {
	padding-right: 5px;
	padding-left: 5px;
}

dd {
	margin-right: 0;
	margin-left: auto;
}


blockquote {
	border-right: 5px solid #eeeeee;
	border-left: none;
}

.blockquote-reverse,
blockquote.pull-left {
	padding-left: 15px;
	padding-right: 0;
	border-left: 5px solid #eeeeee;
	border-right: 0;
	text-align: left;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}


.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

caption {
	text-align: right;
}

th {
	text-align: right;
}


.radio label,
.checkbox label {
	padding-right: 20px;
	padding-left: 0;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-right: -20px;
	margin-left: auto;
}

.radio-inline,
.checkbox-inline {
	padding-right: 20px;
	padding-left: 0;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin-right: 10px;
	margin-left: auto;
}


.has-feedback .form-control {
	padding-left: 42.5px;
	padding-right: 0;
}

.form-control-feedback {
	left: 0;
	right: auto;
}

.form-horizontal .has-feedback .form-control-feedback {
	left: 15px;
	right: auto;
}

.nav-pills > li {
	float: right;
}

.nav-pills > li + li {
	margin-right: 2px;
	margin-left: auto;
}

.nav-stacked > li + li {
	margin-right: 0;
	margin-left: auto;
}

.nav-justified > .dropdown .dropdown-menu {
	right: auto;
	left: auto;
}

.nav-tabs-justified > li > a {
	margin-left: 0;
	margin-right: auto;
}


.navbar-fixed-top,
.navbar-fixed-bottom {
	left: 0;
	right: 0;
}

.navbar-brand {
	float: right;
}


.pagination {
	padding-right: 0;
	padding-left: 0;
}

.pagination > li > a,
.pagination > li > span {
	float: right;
	margin-right: -1px;
	margin-left: auto;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-right: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	margin-left: auto;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.alert-dismissable,
.alert-dismissible {
	padding-left: 35px;
	padding-right: 0;
}

.alert-dismissable .close,
.alert-dismissible .close {
	left: -21px;
	right: auto;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	right: 0;
	left: auto;
}

.center-block {
	margin-right: auto;
	margin-left: auto;
}

.pull-right {
	float: left !important;
}

.pull-left {
	float: right !important;
}

/**************shortcodes*********/

/* Alignment */
.alignright {
	float: left;
}

.alignleft {
	float: right;
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

.wp-caption-text {
	padding-left: 10px;
	padding-right: 0;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

.bypostauthor > article .fn:before {
	margin: 0 -2px 0 2px;
}

/* #Lists
================================================== */
ul,
ol {
	margin-right: 15px;
	margin-left: auto;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 4px 30px 5px 0;
}

/*#table*/

caption,
th,
td {
	text-align: right;
}

/**
 * 6.5 Gallery
 * -----------------------------------------------------------------------------
 */

.gallery-item {
	float: right;
	margin: 0 0 4px 4px;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: right;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

input[type="radio"],
input[type="checkbox"] {
	margin: -4px 0 0 4px;
}

input[type="radio"]:checked:before,
input[type="checkbox"]:checked:before {
	float: right;
}

input[type="checkbox"]:checked:before {
	margin: -3px -4px 0 0;
}

.thim-select-language .language > span {
	padding-left: 13px;
	padding-right: 0;
}

.thim-select-language .language > span:before {
	left: 0;
	right: auto;
}

.thim-select-language .language ul {
	right: -10px;
	left: auto;
}

.thim-select-language .language ul li {
	text-align: right;
}

.thim-select-language .language ul li a {
	text-align: right;
}

#rt-drawer.style1 .drawer_link {
	left: 0;
	right: auto;
}

#rt-drawer.style2 .drawer_link {
	left: 0;
	right: auto;
}

#rt-drawer.style2 .drawer_link .fa-angle-up:before {
	right: 24px;
	left: auto;
}

/* Bootstrap */

.site-header .navbar-nav {
	text-align: left;
}

.content-pusher:after {
	left: 0;
	right: auto;
}

/* menu: Push*/
.header_v2 .width-navigation-right {
	text-align: left;
}

.header_v2 .width-navigation-right .menu-right {
	padding-right: 0;
	padding-left: 20px;
}

.header_v2 .width-navigation-right .menu-right:after {
	left: 0;
	right: auto;
}

.header_v2 .menu-main-menu {
	left: -300px;
	text-align: right;
	right: auto;
}

.header_v2 .menu-main-menu .sub-menu:before {
	right: 2px;
	left: auto;
}

.header_v2 .menu-main-menu .sub-menu li:before {
	right: 3px;
	left: auto;
}

.header_v2 .menu-main-menu .sub-menu .sub-menu {
	margin-right: 20px;
	margin-left: auto;
}

.header_v2 .navigation .icon-toggle {
	left: 0;
	right: auto;
}

.header_v1 .width-navigation .menu-right {
	border-right: 1px solid;
	border-left: none;
}

.slider-sidebar {
	left: 0;
	right: auto;
}

.slider-sidebar .widget-title:after {
	right: 0;
	left: auto;
}

/* User Login */

.slider-bar-opened #wrapper-container:before {
	right: 0;
	left: 0;
}

.top-header aside {
	margin-right: 20px;
	margin-left: auto;
}

.scrollup {
	left: 40px;
	right: auto;
}

footer#colophon .footer aside ul.social_link li:first-child {
	margin-right: 0;
	margin-left: 10px;
}

footer#colophon .row aside {
	padding-right: 15px;
	padding-left: 15px;
}

footer#colophon .text-copyleft {
	text-align: right;
}

.pika-lendar {
	float: right;
}

.pika-title select {
	right: 0;
	left: auto;
}

.pika-prev,
.is-rtl .pika-next {
	float: right;
	*right: 0;
}

.pika-next,
.is-rtl .pika-prev {
	float: left;
	*left: 0;
}

.pika-button {
	text-align: left;
}

.widget-title:after {
	right: 0;
	left: auto;
}

.thim-widget-event .item-event .content-item {
	padding: 0 40px 0 30px;
}

/*coming soon time**/

.counter-block {
	float: right;
}

.counter-block .counter .number.tens {
	right: 0;
	left: auto;
}

.counter-block .counter .number.units {
	right: 50%;
	left: auto;
}

.counter-block .counter.with-hundreds .number.tens {
	right: 33.33%;
	left: auto;
}

.counter-block .counter.with-hundreds .number.units {
	right: 66.66%;
	left: auto;
}

.counter-block .counter.with-hundreds .number.hundreds {
	right: 0;
	left: auto;
}

.iconbox-right .boxes-icon {
	float: right;
	margin-left: 15px;
	margin-right: auto;
}

.iconbox-right .content-inner {
	float: right;
}

.smicon-read i {
	margin-right: 5px;
	margin-left: auto;
}

.iconbox-left .boxes-icon {
	float: left;
	margin-right: 15px;
	margin-left: auto;
}

.iconbox-left .content-inner {
	float: right;
}

.iconbox-hover .thim-widget-icon-box .content-inner {
	padding-right: 60px;
	padding-left: 60px;
}

.text-center .desc-icon-box {
	padding-right: 35px;
	padding-left: 35px;
}

.text-right .heading__primary .line-heading {
	right: 0;
	margin-right: 0;
	left: auto;
	margin-left: auto;
}

.text-right .icon-box-title .line-bottom {
	margin: 20px 0 30px auto;
}

.text-right.wrapper-box-icon .sc-heading {
	text-align: right;
}

.text-left .heading__primary .line-heading {
	right: auto;
	left: 0;
	margin-right: 0;
	margin-left: auto;
}

.text-left .icon-box-title .line-bottom {
	margin: 20px auto 30px 0;
}

.text-left.wrapper-box-icon .sc-heading {
	text-align: left;
}

.testimonial_content {
	padding: 22px 20px 74px 30px;
}

.content-pusher.boxed-area .owl-carousel .testimonial_content {
	margin-left: -1px;
	margin-right: auto;
}

.testimonial-footer {
	padding-right: 20px;
	padding-left: 20px;
}

.testimonial-footer .avatar-testimonial {
	float: right;
	margin-left: 15px;
	margin-right: auto;
}

.testimonial-footer .title-regency {
	float: right;
}

.sc-testimonials.owl-carousel .owl-pagination {
	padding: 28px 20px 4px 0;
	text-align: right;
}

.article__parallax .tablebox {
	left: 0;
	right: 0;
}
.owl-carousel .owl-wrapper{
	float: left;
}
/********tweets************/

.border-widget .widget.so-panel .widget-title i {
	float: left;
}

/********newletter************/

.newletter .mc4wp-form input[type="email"] {
	background-position: left 11px center;
	margin-left: 8px;
	margin-right: auto;
}

.thim-list-posts.homepage .article-date {
	margin-left: 20px;
	float: right;
	margin-right: auto;
}

.thim-list-posts.homepage .article-title-wrapper {
	float: left;
}

/* Gallery - Category & Single Post */

/*.flexslider .flex-direction-nav .flex-prev,
.flexslider .flex-direction-nav .flex-next {
	right: -36px;
	left: auto;
}

.flexslider .flex-direction-nav .flex-next {
	left: -36px;
	right: auto;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	right: 0;
	left: auto;
}

.flexslider:hover .flex-direction-nav .flex-next {
	left: 0;
	right: auto;
}*/

/**share networks**/

/********form-book-table********/
.wpcf7-form {
	margin: 32px 20px 0 0;
}

/*****************widget video *****************/

.thim-widget-icon-box video {
	left: 0;
	right: 0;
}

/**********************/

.top_site_main .page-title-wrapper {
	right: 0;
	left: 0;
}

.top_site_main .overlay-top-header {
	right: 0;
	left: 0;
}

.top_site_main .page-title-wrapper .banner-wrapper h1 span,
.top_site_main .page-title-wrapper .banner-wrapper h2 span {
	right: 0;
	left: auto;
}

.single-image.left {
	text-align: left;
}

.list-html-content {
	text-align: left;
}

.list-html-content .line-center {
	right: 50%;
	margin-right: -1px;
	left: auto;
	margin-left: auto;
}

.list-html-content .line-center:after,
.list-html-content .line-center:before {
	right: 50%;
	margin-right: -6px;
	left: auto;
	margin-left: auto;
}

.list-html-content .col-sm-6:nth-child(2n) {
	text-align: right;
}

.list-html-content .col-sm-6:nth-child(2n) .item-content .desc-list {
	float: right;
}

.list-html-content .item-content .desc-list {
	float: left;
}

.page .comments-area {
	margin-right: 0;
	margin-left: auto;
}

/********revolution slider*******/

.show-separator:after,
.show-separator:before {
	margin-right: 10px;
	margin-left: auto;
}

.show-separator:before {
	margin-right: 0;
	margin-left: 10px;
}

.wrapper-gallery-filter .fancybox:before {
	right: 15px;
	left: 15px;
}

.wrapper-gallery-filter .fancybox:after {
	right: 50%;
	margin-right: -20px;
	left: auto;
	margin-left: auto;
}

.archive-content .sticky {
	padding-right: 20px;
	padding-left: 0;
}

/* Head Mouse */
.arrow-scroll {
	right: 50%;
	margin-right: -13px;
	left: auto;
	margin-left: auto;
}

.arrow-scroll span.scroll-text {
	right: -88px;
	left: auto;
}

select {
	background-position: center left 5px;
}

/*********video************/

.beauty .beauty-intro {
	right: 0;
	left: auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
	right: 0;
	left: auto;
}

.thim-our-service .list-check li:before {
	margin-left: 10px;
	margin-right: auto;
	text-align: right;
	display: inline-block;
}

.width50 {
	float: right;
}

.width50 p i {
	margin-left: 10px;
	margin-right: auto;
}

.content-pusher.boxed-area .thim-widget-icon-box .wrapper-box-icon.has_custom_image.has_read_more .smicon-read {
	margin-right: 1px;
	margin-left: auto;
}

.counter-box:before {
	right: 0;
	left: 0;
}

.single.tp-hotel-booking .site-main.alignleft {
	padding-left: 15px;
	padding-right: 0;
}

.single.tp-hotel-booking .site-main.alignright {
	padding-right: 15px;
	padding-left: 0;
}

.hb_single_room .thim-single-room-content {
	padding-left: 60px;
	padding-right: 0;
}

.hb_single_room .thim-list-in-room ul li i {
	padding-left: 10px;
	padding-right: 0;
}


body .hb_room_carousel_container .navigation .next span[class*="pe-"]:after,
body .hb_room_carousel_container .navigation .prev span[class*="pe-"]:after {
	left: 0px;
	right: auto;
}

body .hb_room_carousel_container .navigation .next {
	margin-left: -15px;
	margin-right: auto;
}

body .hb_room_carousel_container .navigation .prev span[class*="pe-"]:after {
	left: auto;
	right: 0;
}

body .hb_related_other_room .navigation .next span[class*="pe-"]:after,
body .hb_related_other_room .navigation .prev span[class*="pe-"]:after {
	left: 0px;
	right: auto;
}
body .hb_related_other_room .navigation .next{
	margin-left: -15px;
	margin-right: auto;
}
body .hb_related_other_room .navigation .next {
	margin-left: 15px;
	margin-right: auto;
}

body .hb_related_other_room .navigation .prev span[class*="pe-"]:after {
	left: auto;
	right: 0;
}

body .rooms .hb_room .price {
	left: 10px;
	right: auto;
}

.thim-bg-overlay:before {
	right: 0;
	left: 0;
}

#hotel-booking-results .hb-search-results .hb-room-gallery:before {
	right: 0;
	left: 0;
}

#hotel-booking-results .hb-search-results .hb-room-gallery:after {
	right: 50%;
	margin-right: -20px;
	left: auto;
	margin-left: auto;
}

.hb_add_to_cart.hb_loading:before {
	left: 7px;
	right: auto;
}

/** Reservation form **/

.quick-view {
	right: 50%;
	margin-right: -20px;
	left: auto;
	margin-left: auto;
}

.product_thumb:before {
	right: 0;
	left: auto;
}

.product_thumb .onsale {
	right: 15px !important;
	left: auto !important;
}

.product-grid .product__title {
	padding-left: 60px;
	padding-right: 0;
}

.product-grid .product__title .price del {
	padding-left: 5px;
	padding-right: 0;
}

.product-grid .product__title a.button.add_to_cart_button {
	left: 0;
	right: auto;
}

.product-grid .product__title a.button.add_to_cart_button:hover {
	padding-left: 15px;
	padding-right: 15px;
}

.product-grid .product__title .added_to_cart {
	left: 0;
	padding-left: 15px;
	padding-right: 15px;
	right: auto;
}

/*************single product***************/

.woocommerce div.product .onsale,
.woocommerce-page div.product .onsale {
	right: 15px !important;
	left: auto;
}

.woocommerce div.product .woo-share,
.woocommerce-page div.product .woo-share {
	margin-right: 0;
	margin-left: auto;
}

.woocommerce div.product .woo-share li a.facebook,
.woocommerce-page div.product .woo-share li a.facebook {
	margin-right: 0;
	margin-left: auto;
}

.woocommerce div.product .woocommerce-tabs .tabs li,
.woocommerce-page div.product .woocommerce-tabs .tabs li {
	margin-left: 35px !important;
	margin-right: auto;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist,
.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist {
	text-align: right;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text .meta,
.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text .meta {
	text-align: right;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text p,
.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text p {
	text-align: right;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form p,
.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form p {
	text-align: right;
}

.woocommerce div.product .related-products > h2:after,
.woocommerce-page div.product .related-products > h2:after,
.woocommerce div.product .upsells-products > h2:after,
.woocommerce-page div.product .upsells-products > h2:after {
	right: 0;
	left: auto;
}

.woocommerce.woocommerce-cart table.cart td.actions input[type='submit'],
.woocommerce-page.woocommerce-cart table.cart td.actions input[type='submit'] {
	margin-right: 10px;
	margin-left: auto;
}

#ship-to-different-address label {
	padding-right: 30px;
	padding-left: 0;
}

#ship-to-different-address #ship-to-different-address-checkbox {
	right: 0;
	left: auto;
}

.link-images-product {
	right: 0;
	left: auto;
}

.widget_shopping_cart .minicart_hover .cart-items-number {
	text-align: right;
}

.widget_shopping_cart .minicart_hover .cart-items-number span.wrapper-items-number {
	right: 17px;
	left: auto;
}

.widget_shopping_cart .widget_shopping_cart_content {
	right: auto;
	left: 0;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li {
	margin-right: 0 !important;
	margin-left: auto;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a {
	text-align: right;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a img {
	margin-left: 15px;
	float: right;
	margin-right: auto;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li dl {
	border-right: 0 none !important;
	float: right;
	padding-right: 0 !important;
	padding-left: 0;
	border-left: none;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li .quantity {
	float: right;
	text-align: right;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li .remove {
	right: auto !important;
	left: 10px;
}

.widget_shopping_cart .widget_shopping_cart_content .total .amount {
	margin-right: 10px;
	margin-left: auto;
}

/*--------------------------------------------
Magnific Popup CSS
----------------------------------------------*/
.mfp-bg {
	right: 0;
	left: auto;
}

.mfp-wrap {
	right: 0;
	left: auto;
}

.mfp-container {
	right: 0;
	left: auto;
}

.mfp-content {
	text-align: right;
}

.mfp-preloader {
	right: 8px;
	left: 8px;
}

.mfp-close {
	left: 0;
	padding: 0 10px 18px 0;
	right: auto;
}

.mfp-image-holder .mfp-close,
.mfp-inline-holder .mfp-close {
	left: 0px;
	padding-left: 0;
	right: auto;
	padding-right: 0;
}

.mfp-counter {
	left: 0;
	right: auto;
}

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
	right: 0;
	margin-right: 35px;
	left: auto;
	margin-left: auto;
}

.mfp-arrow-right {
	right: 0;
	left: auto;
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
	border-left: 17px solid white;
	margin-right: 31px;
	margin-left: auto;
	border-right: none;
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
	margin-right: 25px;
	border-left: 27px solid #3f3f3f;
	margin-left: auto;
	border-right: none;
}

.mfp-arrow-left {
	left: 0;
	right: auto;
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
	border-right: 17px solid white;
	margin-right: 39px;
	margin-left: auto;
	border-left: none;
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
	border-right: 27px solid #3f3f3f;
	border-left: none;
}

.mfp-iframe-scaler #content {
	right: 0;
	left: auto;
}

/* Main image in popup */

.mfp-figure:after {
	right: 0;
	left: 0;
}
.mfp-bottom-bar {
	right: 0;
	left: auto;
}
.mfp-title {
	text-align: right;
	padding-left: 36px;
	padding-right: 0;
}

.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty {
	border-left: 1px solid #bbb3b9;
	border-right: none;
}

.mfp-ie7 .mfp-bottom-bar {
	right: 50%;
	margin-right: -300px;
	left: auto;
	margin-left: auto;
}

.mfp-ie7 .mfp-close {
	left: 0;
	right: auto;
}

/* content animate out */

.quickview .product-info .left {
	padding-right: 30px;
	padding-left: 15px;
}

.quickview .product-info .right {
	text-align: right;
	padding-right: 15px;
	padding-left: 0;
}

.quickview .product-info .right .description {
	float: right;
}

.quickview .product-info .right .woocommerce-product-rating .star-rating {
	float: right;
}

.quickview .product-info .right .price del {
	padding-left: 5px;
	padding-right: 0;
}

.quickview .product-info .right .cart {
	float: right;
}

.quickview .product-info .right .cart .quantity {
	float: right;
	margin-left: 15px;
	margin-right: auto;
}

.quickview .product-info .right .woo-share {
	margin-right: 0;
	float: right;
	margin-left: auto;
}

.quickview .product-info .right .woo-share li a.facebook {
	margin-right: 0;
	margin-left: auto;
}

.quickview .quick-view-detail {
	left: 20px;
	right: auto;
}

.archive-content .share-post {
	margin-left: 20px;
	float: right;
	margin-right: auto;
}

.archive-content .content-inner {
	float: right;
}

.archive-content .content-inner .entry-meta li {
	margin-left: 8px;
	margin-right: auto;
}

.archive-content .content-inner .entry-meta li:last-child {
	margin-left: 0;
	margin-right: auto;
}

.archive-content .content-inner .entry-meta li:before {
	margin-left: 5px;
	margin-right: auto;
}

/* Paging Numberic*/

.loop-pagination li,
.pagination li {
	margin-left: 15px;
	margin-right: auto;
}

.archive-content .loop-pagination {
	margin-right: 80px;
	margin-left: auto;
}

/* Comment post|page */
.comments-area {
	margin-right: 80px;
	margin-left: auto;
}

.comments-area .comment-list-inner li .avatar {
	float: right;
}

.comments-area .comment-list-inner li .comment-left {
	float: right;
}

.comments-area .comment-list-inner li .comment-awaiting-moderation {
	margin-right: 20px;
	margin-left: auto;
}

.comments-area .comment-list-inner li .comment-extra-info i {
	margin-left: 5px;
	margin-right: auto;
}

.comments-area .comment-list-inner li .comment-extra-info .author,
.comments-area .comment-list-inner li .comment-extra-info .date,
.comments-area .comment-list-inner li .comment-extra-info .comment-edit-link {
	margin-left: 15px;
	margin-right: auto;
}

.comments-area .comment-list-inner li .comment-extra-info .comment-reply-link {
	float: left;
}

.comments-area .comment-list-inner .children {
	margin-right: 80px;
	margin-left: auto;
}

.comments-area .comment-respond .form-submit {
	text-align: left;
}

.blog .site-main.alignleft,
.archive .site-main.alignleft,
.single .site-main.alignleft {
	padding-left: 45px;
	padding-right: 0;
}

.blog .site-main.alignright,
.archive .site-main.alignright,
.single .site-main.alignright {
	padding-right: 45px;
	padding-left: 0;
}

.widget-area ul {
	margin-right: 0;
	margin-left: auto;
}

.widget-area aside .widget-title span {
	padding-right: 5px;
	padding-left: 5px;
}

.widget-area aside .widget-title:before {
	right: 0;
	left: 0;
}

/* search */
.search-form:after {
	left: 13px;
	right: auto;
}

.search-form label .search-submit {
	margin-right: 0;
	margin-left: 0;
}

/* Blog Search */
.widget_nav_menu ul ul {
	margin: 0 25px 0 0;
}

.thim-sidebar-about-blog .thim-image .thim-bg-color {
	right: 0;
	left: 0;
}

.thim-sidebar-about-blog .thim-image img.thim-logo {
	right: 0;
	left: 0;
}

.thim-list-posts.sidebar .article-image {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}

.thim-list-posts.sidebar .article-date span {
	margin-left: 5px;
	margin-right: auto;
}

.thim-list-posts.sidebar .article-date span.year {
	margin-left: 0;
	margin-right: auto;
}

.thim-sidebar-pinterest {
	padding-right: 2px;
	padding-left: 2px;
}

/*.thim-search-room .hotel-booking-search form:before {
	right: -17px;
	border-right: transparent;
	border-left: transparent;
	left: auto;
}

.thim-search-room .hotel-booking-search form:after {
	left: -17px;
	border-left: transparent;
	border-right: transparent;
	right: auto;
}*/

.thim-search-room .hotel-booking-search form .hb-form-table {
	float: right;
}

.thim-search-room .hotel-booking-search form .hb-form-table .hb-form-field {
	float: right;
}

.thim-search-room .hotel-booking-search form .hb-submit {
	float: right;
}

.thim-search-room .hotel-booking-search input:before {
	left: 10px;
	right: auto;
}

.thim-search-room .hotel-booking-search .hb-form-field .hb_input_field:after {
	left: 12px;
	right: auto;
}

.thim-search-room.thim-search-no-padding form {
	padding-right: 0;
	padding-left: 0;
	margin-right: -10px;
	margin-left: -10px;
}

/** Hotel booking carousel slider **/
.hb_room_carousel_container .navigation .prev,
.hb_room_carousel_container .navigation .next {
	background: url(../images/prev.png) no-repeat center right;
	float: left;
}

.hb_room_carousel_container .navigation .next {
	float: right;
	background: url(../images/next.png) no-repeat center left;
}

/** Archive rooms **/
.hb_input_field:after{
	right: auto;
	left: 12px;
}
.hb_related_other_room .rooms .hb_room,
.hb_room_carousel .rooms .hb_room{
	float: left;
}
.rooms .hb_room {
	float: right;
}

.rooms .hb_room .media a:before {
	border-right: 137px solid transparent;
	left: 0;
	right: auto;
	border-left: none;
}

.rooms .hb_room .summary:hover .media a:before {
	border-right-width: 167px;
}

.rooms .hb_room .price {
	left: 25px;
	text-align: left;
	right: auto;
}

.rooms .hb_room .rating {
	left: 15px;
	right: auto;
}

/** Single rooms **/
.hb_single_room .price {
	float: left;
}

.hb_single_room .price span.title-price {
	margin-left: 5px;
	margin-right: auto;
}

.hb_single_room .hb_room_gallery .camera_thumbs .camera_thumbs_cont ul li {
	float: right;
}

.hb_single_room .hb_room_gallery .camera_thumbs .camera_thumbs_cont ul li:before {
	left: 6px;
	right: 6px;
}

.hb_single_room .hb-share {
	float: left;
}

.hb_single_room .hb-share ul li {
	padding-right: 19px;
	padding-left: 0;
}

.hb_single_room .hb-share ul li:first-child {
	padding-right: 0;
	padding-left: 0;
}

.hb_single_room .hb_single_room_details .hb_single_room_tabs > li {
	padding-left: 40px;
	padding-right: 0;
}

.hb_single_room .hb_single_room_details .hb_single_room_tabs > li a:after {
	right: 0;
	left: 0;
}

/** Other room slider **/
.hb_related_other_room > .title:after {
	right: 0;
	left: auto;
}
.hb_related_other_room .navigation {
	float: left;
	margin-right: auto;
}

.hb_related_other_room .navigation .prev,
.hb_related_other_room .navigation .next {
	background: url(../images/prev.png) no-repeat center right;
}

.hb_related_other_room .navigation .next {
	margin-right: 20px;
	float: left;
	background: url(../images/next.png) no-repeat center left;
	margin-left: auto;
}

/** Hotel booking result **/
#hotel-booking-results .hb-search-results > .hb-room .hb-room-thumbnail {
	float: right;
}

#hotel-booking-results .hb-search-results > .hb-room .hb-room-info {
	margin-right: 300px;
	margin-left: auto;
}

#hotel-booking-results .hb-search-results > .hb-room .hb-room-meta li .hb_search_item_price {
	margin-right: 20px;
	margin-left: 15px;
}

#hotel-booking-results .hb-search-results > .hb-room .hb-room-meta li select {
	padding: 3px 5px 3px 25px;
}

#hotel-booking-results .hb-search-results > .hb-room .hb-room-meta li > div {
	margin-right: 20px;
	margin-left: auto;
}

#hotel-booking-results .hb-search-results > .hb-room .hb-room-meta li > div.hb_view_price {
	margin-right: 0;
	margin-left: auto;
}

#hotel-booking-results .hb-search-results > .hb-room .hb-room-meta li.hb_search_capacity {
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #eee;
	padding-right: 0;
	margin-right: auto;
	border-right: none;
}

/** hotel-booking-payment **/
#hotel-booking-cart input[type="number"],
#hotel-booking-payment input[type="number"],
#hotel-booking-cart input[type="text"],
#hotel-booking-payment input[type="text"],
#hotel-booking-cart input[type="email"],
#hotel-booking-payment input[type="email"] {
	padding: 9px 10px 9px 20px;
}

#hotel-booking-cart button#hb-apply-coupon,
#hotel-booking-payment button#hb-apply-coupon {
	margin: 10px 5px 10px 0;
}

#hotel-booking-cart .hb_button.hb_checkout.update,
#hotel-booking-payment .hb_button.hb_checkout.update,
#hotel-booking-cart button[type="submit"].update,
#hotel-booking-payment button[type="submit"].update,
#hotel-booking-cart button[type="button"].update,
#hotel-booking-payment button[type="button"].update {
	margin-right: 5px;
	margin-left: auto;
}

#hotel-booking-cart select,
#hotel-booking-payment select {
	padding: 8px 5px 8px 20px;
}

#hotel-booking-cart .hb-payment-methods > li .hb-payment-method-form,
#hotel-booking-payment .hb-payment-methods > li .hb-payment-method-form {
	padding-right: 25px;
	padding-left: 0;
}

#hotel-booking-cart .hb_advance_payment .hb-align-left,
#hotel-booking-payment .hb_advance_payment .hb-align-left,
#hotel-booking-cart .hb_advance_grand_total .hb-align-left,
#hotel-booking-payment .hb_advance_grand_total .hb-align-left,
#hotel-booking-cart .hb_advance_tax .hb-align-left,
#hotel-booking-payment .hb_advance_tax .hb-align-left,
#hotel-booking-cart .hb_sub_total .hb-align-left,
#hotel-booking-payment .hb_sub_total .hb-align-left {
	float: left;
	border-right: 1px solid #eee;
	text-align: left;
	border-left: none;
}

/** Input type date style **/

.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default {
	text-align: left;
}

/** Room detail when click view price breakdown **/
.hb-booking-room-details {
	right: 0;
	left: auto;
}

.hb-booking-room-details .hb_search_room_item_detail_price_close {
	left: 0;
	right: auto;
}
.hb-booking-room-details table tr td.hb_search_item_total_description {
	padding-left: 100px;
	padding-right: 20px;
}

/** Mini Cart **/
.hotel_booking_mini_cart .hb_mini_cart_item .hb_mini_cart_remove {
	left: 0;
	right: auto;
}

.hotel_booking_mini_cart .hb_mini_cart_item .hb_mini_cart_number label,
.hotel_booking_mini_cart .hb_mini_cart_item .hb_mini_cart_price label {
	margin-left: 12px;
	margin-right: auto;
}

/*** NEW CSS ***/
.top-header{
	text-align: left;
}
body .rooms .hb_room .summary:hover .price{
	transform: translate(15px, -15px);
	-webkit-transform: translate(15px, -15px);
	-moz-transform: translate(15px, -15px);
	-ms-transform: translate(15px, -15px);
	-o-transform: translate(15px, -15px);
}
.rooms .hb_room .title{
	text-align: right;
}
footer#colophon .text-copyright{
	text-align: right;
}
#hotel-booking-cart .hb_advance_payment .hb-align-right, 
#hotel-booking-payment .hb_advance_payment .hb-align-right, 
#hotel-booking-cart .hb_advance_grand_total .hb-align-right, 
#hotel-booking-payment .hb_advance_grand_total .hb-align-right, 
#hotel-booking-cart .hb_advance_tax .hb-align-right, 
#hotel-booking-payment .hb_advance_tax .hb-align-right, 
#hotel-booking-cart .hb_sub_total .hb-align-right, 
#hotel-booking-payment .hb_sub_total .hb-align-right{
	float: left;
	text-align: left;
	border-right: 1px solid #eee;
	border-left: 0;
}
.hb-align-right{
	text-align: left;
}
.hb-align-left{
	text-align: right;
}
body .hb_single_room .price span{
	text-align: right;
	display: inline-block;
}
.woocommerce .woocommerce-product-rating .star-rating{
	float: right;
	margin-right: 0;
	margin-left: 4px;
}
.woocommerce div.product form.cart .button,
.woocommerce div.product form.cart div.quantity{
	float: right;
}
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary{
	float: left;
}
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images{
	float: right;
}
.quickview .flexslider ul{
	float: left;
}
.widget_categories a{
	margin-left: 5px;
	float: right;
}
@media (min-width: 781px) and (max-width: 900px){
	body .navbar-nav>li>a, 
	body .navbar-nav>li>span.disable_link, 
	body .navbar-nav>li>span:not(.icon-toggle){
		padding-right: 20px;
		padding-left: 10px;
	}
}
@media (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
		float: right;
	}
	.width-navigation .navbar-nav{
		display: block;
	}
	.site-header.sticky-header.affix .navbar-nav > li:last-child > a, 
	.site-header.sticky-header.affix .navbar-nav > li:last-child > span.disable_link,
	.navbar-nav > li:last-child > a, 
	.navbar-nav > li:last-child > span.disable_link{
		padding-right: 15px;
		padding-left: 0;
	}
	.site-header.sticky-header.affix .navbar-nav > li:last-child > a:after, 
	.site-header.sticky-header.affix .navbar-nav > li:last-child > span.disable_link:after,
	.navbar-nav > li:last-child > a:after, 
	.navbar-nav > li:last-child > span.disable_link:after{
		right: 15px;
		left: 0;
	}
	.navigation .navbar-nav>li.current-menu-item:last-child>a:after, 
	.navigation .navbar-nav>li:hover:last-child>a:after, 
	.navigation .navbar-nav>li.current-menu-item:last-child>span:after, 
	.navigation .navbar-nav>li:hover:last-child>span:after{
		left: 0;
		right: 20px;
	}
}
@media (max-width: 767px){
	.top-header{
		text-align: inherit;
	}
	.navbar-toggle{
		float: left;
		padding: 10px 0 0 30px;
	}

	.site-header .navbar-nav{
		text-align: right;
	}
	.width-navigation .navbar-nav .icon-toggle{
		right: auto;
		left: 0;
	}
	.navbar-nav .sub-menu:before{
		left: auto;
		right: 2px;
	}
	.navbar-nav .sub-menu li:before{
		left: auto;
		right: 3px;
	}
	.sub-menu li a{
		padding-left: 0 !important;
		padding-right: 25px !important;
	}
	.top-header .thim-social ul.social_link{
	    margin-left: 0px;
	    margin-right: -10px;
	 }
	 footer#colophon .footer aside .newletter .widget-title,
	 footer#colophon .footer aside .newletter .mc4wp-form{
	 	text-align: right;
	 }
}

.navigation .navbar-nav > li.menu-item-has-children .icon-toggle{
	margin-left: auto;
	margin-right: -8px;
}
